article.blog-card.swiper-slide
  a(href="#")
    div.blog-card__image(style="background-image: url(https://misadventuresmag.com/wp-content/uploads/2017/04/thetopofday3-transcatalinatrail-1024x683.jpeg)")
  div.blog-card__information
    p.blog-card__date 25.12.19
    a(href="#")
      p.blog-card__heading Какая-то статья с очень очень очень длинным названием
    a.blog-card__link(href='#') Подробнее