.blog-card {
  max-width: 365px;
  background-color: #F3F3F3;
  border-radius: 3px;
  margin: 10px;
  overflow: hidden;
  &.swiper-slide{
    height: auto;
  }
  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }


  &__image {
    width: 100%;
    min-height: 180px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 20px;
  }

  &__information {
    padding: 20px 20px 40px 30px;
  }

  &__date {
    padding: 0;
    margin: 0;
    font-size: 14px;
    line-height: 17px;
    color: #6A6A6A;
    margin-bottom: 20px;
  }

  &__heading {
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #222222;
    margin: 0;
    margin-bottom: 15px;
  }

  &__link {
    position: relative;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #00239C;
    text-decoration: none;
    padding-right: 20px;

    &:hover {
      color: #1F43C2;
      text-decoration: none;

      &:after {
        border-right: 2px solid #1F43C2;;
        border-top: 2px solid #1F43C2;;
      }
    }
  

    &:after {
      position: absolute;
      content: "";
      width: 5px;
      height: 5px;
      border-right: 2px solid #00239C;
      border-top: 2px solid #00239C;
      transform: rotate(45deg);
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }
}