.why {
  display: flex;
  margin-bottom: 50px;
  margin-top: 70px;
  align-items: flex-start;

  @media (max-width: 960px) {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  @media (max-width: 768px) {
    flex-direction: column;
  }

  &__info {
    margin-right: 50px;
    padding-top: 45px;
    max-width: 60%;
    width: 100%;

    @media (max-width: 961px) {
      max-width: 50%;
    }

    @media (max-width: 768px) {
      max-width: 100%;
      margin-right: 0;
      padding-top: 20px;
    }
  }

  p {
    line-height: 150%;
    margin: 0;

    &:not(:first-child) {
      padding-top: 20px;
    }
  }

  &__picture {
    max-width: 40%;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;

    @media (max-width: 961px) {
      max-width: 50%;
    }

    @media (max-width: 768px) {
      margin: 0 auto;
      max-width: 365px;
      padding-top: 20px;
    }

    img {
      width: 100%;
    }
  }

  &--reversed {

    .why__info {
      order: 2;
      margin-right: 0;
      margin-left: 50px;
    }

    .why__picture {

      @media (max-width: 768px) {
        display: none;
      }
    }

    .why__info {
      @media (max-width: 768px) {
        margin-left: 0;
      }
    }
  }
}
h1 + .why{
  .why__info{
    padding-top: 0;
  }
}