.form {
  padding-top: 50px;
  padding-bottom: 50px;

  @media (max-width: 960px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &__info {
    padding-bottom: 30px;

    @media (max-width: 960px) {
      padding-bottom: 15px;
    }
  }

  &__header {
    margin: 0;
    padding: 0;
    font-size: 36px;
    line-height: 45px;
    color: #FFFFFF;
    padding-top: 60px;
    padding-bottom: 30px;
    position: relative;

    @media (max-width: 960px) {
      font-size: 25px;
      line-height: 29px;
      padding-top: 30px;
      padding-bottom: 15px;
    }

    @media (max-width: 426px) {
      text-align: center;
    }

    &:before {
      position: absolute;
      content: '';
      width: 30px;
      height: 30px;
      border-top: 15px solid #ffffff;
      border-left: 15px solid #ffffff;
      top: 0;
      left: 0;

      @media (max-width: 960px) {
        width: 15px;
        height: 15px;
        border-top: 10px solid #fff;
        border-left: 10px solid #fff;
      }
    }
  }

  &__text {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;

    @media (max-width: 426px) {
      text-align: center;
    }
  }

  &__phone {
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__data {
    transition: 0.3s;

    &--flex {
      display: flex;
      flex-wrap: wrap;
    }

    &--hidden {
      visibility: hidden;
      opacity: 0;
    }
  }

  &__input-wrapper {
    width: 48%;

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  &--wide {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .form-select {
      width: 49%;

      @media (max-width: 600px) {
        width: 100%;
      }
    }

    .form-input {
      width: 49%;

      @media (max-width: 600px) {
        width: 100%;
      }

      &:last-child {
        width: 100%;
      }
    }
  }


  &--flex {
    display: flex;
    justify-content: space-between;

    @media (max-width: 660px) {
      flex-direction: column;
      align-items: center;
    }

    .second-box {
      overflow: hidden;
      border-radius: 3px;
      max-width: 50%;
      width: 100%;
      box-sizing: border-box;
      margin-bottom: 10px;
      display: flex;
      flex-direction: column;

      @media (max-width: 768px) {
        max-width: 100%;
      }
    }

    .form__info {
      width: 33%;
      display: flex;
      flex-direction: column;
      padding-bottom: 0;
      align-items: flex-start;

      @media (max-width: 660px) {
        width: 100%;
      }
    }

    .form__text {
      max-width: 245px;

      @media (max-width: 660px) {
        margin: 0 auto;
      }
    }

    .form__phone {
      margin-top: auto;
      margin-bottom: 60px;

      @media (max-width: 660px) {
        margin: 0 auto;
        margin-top: 20px;
      }
    }

    .form__data--flex {
      justify-content: space-between;
    }

    .form-terms {
      width: 45%;
      padding-left: 30px;
      margin-right: auto;
      padding-top: 0;
      align-self: center;

      @media (max-width: 660px) {
        padding-left: 0;
        margin-right: 0;
        width: 100%;
        padding-top: 20px;
      }
    }

    .form-input,
    .form-select {
      max-width: none;
      margin: 0;
      margin-bottom: 10px;
    }

    .form-button {
      margin: 0;
      align-self: flex-start;

      @media (max-width: 768px) {
        min-width: unset;
        width: 40%;
      }

      @media (max-width: 660px) {
        width: 195px;
        margin: 0 auto;
      }
    }

    .form__header {

      @media (max-width: 660px) {
      margin: 0 auto;
      text-align: center;
      width: 100%;
      }
    }

    .messages {
      width: 66%;
      padding-top: 60px;

      @media (max-width: 660px) {
        padding-top: 20px;
        width: 100%;
      }
    }
  }


}