mixin form(data)

  div.color.color--deep-blue
    div.content
      if !data.flex
        section.form#form
          section.form__info
            if data.header
              h2.form__header=data.header
            if data.text
              p.form__text=data.text
            if data.phone
              a.form__phone(href="tel:+79999999999")=data.phone
          div.messages
            div.messages__event.messages__event--succsess
              p.messages__text Спасибо за подписку! Теперь вы будите получать самые свежие новости!
              a.messages__link(href='#') Заполнить заново
            div.messages__event.messages__event--fail
              p.messages__text Произошла ошибка!
              a.messages__link(href='#') Заполнить заново
            form.form__data
              if block
                  block
      else
        section.form.form--flex#form
          section.form__info
            if data.header
              h2.form__header=data.header
            if data.text
              p.form__text=data.text
            if data.phone
              a.form__phone(href="tel:+79999999999")=data.phone
          div.messages
            div.messages__event.messages__event--succsess
              p.messages__text Спасибо за подписку! Теперь вы будите получать самые свежие новости!
              a.messages__link(href='#') Заполнить заново
            div.messages__event.messages__event--fail
              p.messages__text Произошла ошибка!
              a.messages__link(href='#') Заполнить заново
            form.form__data.form__data--flex
              if block
                  block
