.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 70px;

  @media (max-width: 960px) {
    padding-top: 25px;
    padding-bottom: 35px;
  }

  &__item {
    list-style: none;
    margin-right: 10px;

    @media (max-width: 768px) {
      display: none;
    }

    a,
    span,
    p {
      text-decoration: none;
      display: block;
      font-size: 14px;
      line-height: 18px;
      text-align: center;
      color: #222222;
      padding: 14px 20px 14px 20px;
      border-radius: 50%;
      border: 1px solid #EAEAEA;
    }

    a:hover {
      background-color: #EAEAEA;
    }

    span {
      color: #00239C;
      font-weight: bold;
      background-color: #EAEAEA;
      border: none;
    }

    p {
      color: #222222;
      border: none;
      margin: 0;
    }

    &--word {
      @media (max-width: 768px) {
        display: block;
      }

      a {
      font-size: 16px;
      line-height: 20px;
      color: #00239C;

      &:hover {
        background-color: #ffffff;
        text-decoration: underline;
        }
      }
    }

    &--first {

      a {
        border: none;
        position: relative;
        padding-left: 40px;

        &:before {
          position: absolute;
          content: '';
          width: 5px;
          height: 5px;
          border-left: 2px solid #00239C;
          border-bottom: 2px solid #00239C;
          transform: rotate(45deg);
          left: 0;
          top: 0;
          bottom: 0;
          margin: auto;
        }
      }

      span {


        &:before {
          position: absolute;
          content: '';
          width: 5px;
          height: 5px;
          border-left: 2px solid #6A6A6A;
          border-bottom: 2px solid #6A6A6A;
          transform: rotate(45deg);
          left: 0;
          top: 0;
          bottom: 0;
          margin: auto;
        }
      }

    }

    &--last {
      
      a {
        border: none;
        position: relative;
        padding-right: 40px;

        &:before {
          position: absolute;
          content: '';
          width: 5px;
          height: 5px;
          border-right: 2px solid #00239C;
          border-top: 2px solid #00239C;
          transform: rotate(45deg);
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto;
        }
      }

      span {

        &:before {
          position: absolute;
          content: '';
          width: 5px;
          height: 5px;
          border-right: 2px solid #6A6A6A;
          border-top: 2px solid #6A6A6A;
          transform: rotate(45deg);
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto;
        }
      }
    }

    &--inactive {

      span {
      color: #6A6A6A;
      font-size: 16px;
      line-height: 20px;
      background-color: #ffffff;
      position: relative;
      padding-left: 40px;
      padding-right: 40px;

      // &:before {
      //   position: absolute;
      //   content: '';
      //   width: 5px;
      //   height: 5px;
      //   border-left: 2px solid #6A6A6A;
      //   border-bottom: 2px solid #6A6A6A;
      //   transform: rotate(45deg);
      //   left: 0;
      //   top: 0;
      //   bottom: 0;
      //   margin: auto;
      // }
    }

      &:before,
      &:after {
        border-color: #6A6A6A;
      }
    }
  }
}