ul.pagination
  li.pagination__item.pagination__item--word.pagination__item--first.pagination__item--inactive
    span Назад
  li.pagination__item
    a(href="#") 1
  li.pagination__item
    a(href="#") 2
  li.pagination__item
    span 3
  li.pagination__item
    p ...
  li.pagination__item.pagination__item--word.pagination__item--last
    a(href="#") Вперед
