article.doctorCard
  div.doctorCard__image
    img(src="./img/doc.png" alt="doctor")
  p.doctorCard__name Иванов Иван Иванович
  p.doctorCard__position Хирург-околог
  p.doctorCard__experience Стаж: 13 лет