.doctorCard {
  max-width: 270px;
  width: 100%;
  border: 1px solid #F3F3F3;
  border-radius: 3px;
  box-sizing: border-box;
  padding: 20px;
  padding-bottom: 50px;
  margin-top: 60px;


  &__image {
    width: 160px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -60px;

    img {
      width: 100%;
    }
  }

  &__name {
    font-weight: bold;
    font-size: 18px;
    line-height: 130%;
    text-align: center;
    margin: 0;
    padding-top: 40px;
    padding-bottom: 15px;
  }

  &__position {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #6A6A6A;
    margin: 0;
    padding-bottom: 30px;
  }

  &__experience {
    line-height: 150%;
    text-align: center;
    margin: 0;
  }
}