.pillar {
  background-color: #00239C;
  border-radius: 3px;
  padding: 40px;
  margin-top: 195px;
  max-width: 450px;
  box-sizing: border-box;

  @media(max-width:768px) {
    margin-top: 135px;
  }

  @media(max-width: 630px) {
    margin: 0 auto;
    margin-top: 175px;
    padding: 20px;
    margin-bottom: 20px;
  }

  &__more {
    max-width: 193px;
    width: 100%;
    display: block;
    box-sizing: border-box;
    text-decoration: none;
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    text-align: center;
    padding: 15px;
    background-color: #e4002b;
    border-radius: 3px;
    border: 0;
    font-weight: 700;

    @media(max-width: 630px) {
      margin: 0 auto;
    }

    &:hover {
      background-color: #FF585D;
    }
  }
}

.overlay .pillar__header {
  padding-top: 75px;
  font-weight: bold;
  padding-bottom: 30px;
  font-size: 36px;
  line-height: 45px;
  color: #FFFFFF;
  position: relative;

  @media(max-width: 768px) {
    padding-top: 45px;
  }

  @media(max-width: 630px) {
    padding-top: 0;
    font-size: 30px;
    line-height: 35px;
    padding-bottom: 15px;
  }

  &:after {
    position: absolute;
    content: '';
    width: 30px;
    height: 30px;
    border-top: 10px solid #fff;
    border-left: 10px solid #fff;
    top: 0;
    left: 0;

    @media(max-width: 630px) {
      display: none;
      
    }
  }
}

.overlay .pillar__description {
  line-height: 150%;
  margin: 0;
  padding-bottom: 40px;
  padding-top: 0;

  @media(max-width: 630px) {
    line-height: 19px;
  }
}