.divisions {

  .swiper-slide-thumb-active {
    opacity: 1;
    position: relative;

    &:after {
      position: absolute;
      content: '';
      width: 55%;
      height: 3px;
      background-color: #00239C;
      bottom: 0;
      left: 0;
    }
  }

  &__division {
    opacity: 0.5;
    cursor: pointer;

    @media(max-width: 708px) {
      min-height: 110px;
    }
  }

  &__header {
    font-size: 22px;
    line-height: 27px;
    color: #00239C;
    margin: 0;
    font-weight: bold;
    margin-bottom: 15px;

    @media(max-width: 768px) {
      font-weight: 500;
      font-size: 20px;
    }

    @media(max-width: 708px) {
      padding-top: 15px;
    }
  }

  &__text {
    line-height: 130%;
    margin: 0;
    padding-bottom: 30px;
    padding-right: 20px;

    @media(max-width: 768px) {
      font-size: 13px;
      line-height: 15px;
    }

    @media(max-width: 708px) {
      padding-bottom: 15px;
      padding-right: 0;
    }
  }

}