section.divisions

  section.divisions__slider.swiper-container
    section.divisions__wrapper.swiper-wrapper

      section.divisions__division.swiper-slide
        p.divisions__header Компаниям
        p.divisions__text Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей

      section.divisions__division.swiper-slide
        p.divisions__header Для частных клиентов
        p.divisions__text Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей

