.step {
  background-color: #F3F3F3;
  border-radius: 3px;
  overflow: hidden;
  list-style: none;
  display: flex;
  max-width: 465px;
  width: 100%;
  position: relative;
  counter-increment: my-counter;

  @media(max-width: 426px) {
    flex-direction: column;
  }

  &:before {
    position: absolute;
    content: counter(my-counter);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #93B1E8;
    font-size: 22px;
    line-height: 95px;
    text-align: center;
    color: #fff;
    top: -30px;
    left: -30px;
    padding-left: 20px;
    box-sizing: border-box;
  }

  &__image {
    width: 41%;
    height: 190px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media(max-width: 426px) {
      width: 100%;
    }
  }

  &__text {
    box-sizing: border-box;
    width: 59%;
    line-height: 130%;
    margin: 0;
    padding: 25px;

    @media(max-width: 426px) {
      width: 100%;
    }
  }

  &__link {
    text-decoration: none;
    color: #00205B;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }
}