mixin step(data)

  li.step.swiper-slide
    div.step__image(style=data.image)
    p.step__text Вы обращаетесь к нам по телефону <a class="step__link" href="tel:+79999999999">+7 (999) 999-99-99</a> или оставляете заявку на сайте