mixin provision(data)

  section.provision
    div.provision__picture(style=data.picture)
    div.provision__info
      a.provision__heading(href='#')=data.name
      p.provision__text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.
      ul.provision__agile
        li.provision__item
          a.provision__link(href="#") Какая-то услуга
        li.provision__item
          a.provision__link(href="#") Еще какая-то услуга
        li.provision__item
          a.provision__link(href="#") И еще какая-то услуга
      button.provision__switcher
        p.provision__switcher-text Развернуть
        span.provision__switcher-pointer
  