.provision {
  display: flex;
  justify-content: space-between;
  border-radius: 3px;
  overflow: hidden;
  margin-bottom: 20px;
  background-color: #F3F3F3;

  @media (max-width: 768px) {
    flex-direction: column;
  }

  &__info {
    width: 68%;
    padding: 40px 30px 40px 60px;
    box-sizing: border-box;
    position: relative;

    @media (max-width: 768px) {
      width: 100%;
      padding: 20px;
    }

    &:before {
      position: absolute;
      content: '';
      width: 40px;
      height: 40px;
      border-top: 15px solid #fff;
      border-right: 15px solid #fff;
      top: 40px;
      right: 30px;

      @media (max-width: 768px) {
        display: none;
      }
    }
  }

  &__heading {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #00239C;
    text-decoration: none;
    
    @media (max-width: 768px) {
      font-size: 18px;
      line-height: 23px;
      display: block;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &__picture {
    width: 365px;
    min-height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @media (max-width: 768px) {
      margin: 0 auto;
      max-width: 390px;
      width: 100%;
      min-height: 200px;
    }
  }

  &__text {
    max-width: 630px;
    margin-bottom: 30px;

    @media(max-width: 768px) {
      font-size: 13px;
      line-height: 15px;
      max-width: 100%;
      margin-bottom: 15px;
    }
  }

  &__agile {
    display: none;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    &--opened {
      display: flex;
    }
  }

  &__item {
    list-style: none;
  }

  &__link {
    text-decoration: none;
    font-family: inherit;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    color: #00239C;
    padding-right: 15px;
    margin-right: 15px;
    position: relative;
    padding-bottom: 15px;
    display: block;

    &:after {
      position: absolute;
      content: '';
      width: 7px;
      height: 7px;
      border-left: 2px solid #00239C;
      border-bottom: 2px solid #00239C;
      transform: rotate(-135deg);
      right: 0;
      top: 7px;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &__switcher {
    display: block;
    border: 1px solid #C4C4C4;
    border-radius: 3px;
    background-color: transparent;
    position: relative;
    padding: 0;
    margin-top: 15px;
    cursor: pointer;

    @media(max-width: 426px) {
      margin: 0 auto;
      margin-top: 15px;
    }

    &:hover {
      border: 1px solid #00239c;
    }

    &--opened {

      .provision__switcher-pointer {
        transform: rotate(-225deg);
      }
    }
  }

  &__switcher-text {
    margin: 0;
    padding: 5px 40px 5px 15px;
    color: #00239c;
    font-size: 14px;
    line-height: 17px;
  }

  &__switcher-pointer {
    position: absolute;
    content: '';
    width: 7px;
    height: 7px;
    border-left: 2px solid #00239c;
    border-bottom: 2px solid #00239c;
    transform: rotate(-45deg);
    right: 19px;
    top: 10px;
    transition: 0.3s;
  }
}