section.advantages
  p.advantages__header О нашей компании
  ul.advantages__list
    li.advantages__item
      p.advantages__number 35
      p.advantages__info лет на рынке
    li.advantages__item
      p.advantages__number 457 859
      p.advantages__info клиентам была оказана помощь
    li.advantages__item
      p.advantages__number Больше 30
      p.advantages__info партнеров по всему миру