.advantages {
  display: flex;
  align-items: center;
  margin-top: 90px;
  margin-bottom: 45px;
  justify-content: space-between;

  @media(max-width: 960px) {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  @media(max-width: 768px) {
    flex-wrap: wrap;
  }

  &__header {
    max-width: 205px;
    font-size: 36px;
    line-height: 45px;
    font-weight: bold;
    margin: 0;
    padding-right: 30px;

    @media(max-width: 768px) {
      max-width: 100%;
      width: 100%;
      text-align: center;
      margin-bottom: 20px;
      padding-right: 0;
    }
  }

  &__item {
    list-style: none;
    max-width: 315px;
    width: 100%;
    box-sizing: border-box;

    @media(max-width: 768px) {
      text-align: center;
    }

    &:nth-of-type(2) {
      border-left: 1px solid #D7D2CB;
      border-right: 1px solid #D7D2CB;
      padding-left: 10px;
      padding-right: 10px;
      margin-left: 10px;
      margin-right: 10px;

      @media(max-width: 630px) {
        border-left: none;
        border-right: none;
        border-top: 1px solid #D7D2CB;
        border-bottom: 1px solid #D7D2CB;
        margin: 0;
        padding: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }

  }

  &__list {
    display: flex;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    max-width: 850px;

    @media(max-width: 630px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__number {
    font-size: 36px;
    line-height: 45px;
    color: #00239C;
    margin: 0;
    padding-bottom: 10px;
    font-weight: 900;
    max-width: 190px;
    margin: 0 auto;

    @media(max-width: 960px) {
      font-size: 28px;
      line-height: 100%;
    }
  }

  &__info {
    font-size: 16px;
    line-height: 20px;
    color: #6A6A6A;
    margin: 0;
    max-width: 190px;
    margin: 0 auto;
  }
}