.programm {
  // max-width: 365px;
  width: 100%;
  background-color: #F3F3F3;
  border-radius: 3px;
  margin: 10px;
  overflow: hidden;

  &__picture {
    height: 185px;
    width: 100%;
    background-size: cover;
    background-position: center;
  }

  &__info {
    padding: 20px 30px 30px 30px;
  }

  &__heading {
    margin: 0;
    font-size: 22px;
    font-weight: bold;
    line-height: 27px;
    color: #00239C;
    padding-bottom: 30px;
  }

  &__text {
    line-height: 130%;
    margin: 0;
  }

  .button {
    margin-top: 40px;
  }
}