section.programm
  div.programm__picture(style="background-image: url(./img/1.png)")
  div.programm__info
    p.programm__heading Медицинская сфера
    p.programm__text Сайт рыбатекст поможет, сайт рыбатекст поможет дизайнеру, дизайнеру верстальщику дизайнеру, верстальщику. Сайт рыбатекст поможет, сайт рыбатекст поможет дизайнеру, верстальщику дизайнеру, верстальщику
    a.button(href="#") Подробнее