.form-terms {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 17px;
  color: #93B1E8;
  padding-top: 15px;

  &__link {
    font-size: 14px;
    line-height: 17px;
    color: #93B1E8;

    &:hover {
      text-decoration: none;
    }
  }
}