.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 35px;
  @media (max-width: 960px) {
    margin-top: 20px;
    margin-bottom: 25px;
  }

  &__item {
    list-style: none;
    position: relative;
    padding: 5px 5px 5px 0px;

    &:not(:first-child) {
      padding-left: 25px;

      &:before {
        position: absolute;
        content: '';
        width: 6px;
        height: 1px;
        background-color: #6A6A6A;
        top: 0;
        bottom: 0;
        left: 8px;
        margin: auto;
      }
    }

    a,
    span {
      text-decoration: none;
      font-size: 14px;
      line-height: 17px;
      color: #6A6A6A;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}