section.stepsSlider

  div.steps__container.swiper-container
    ul.steps.swiper-wrapper
      +step({
        image: 'background-image: url(./img/1.png)'
      })
      +step({
        image: 'background-image: url(./img/1.png)'
      })
      +step({
        image: 'background-image: url(./img/1.png)'
      })
      +step({
        image: 'background-image: url(./img/1.png)'
      })
      +step({
        image: 'background-image: url(./img/1.png)'
      })
    
    div.steps__pagination.swiper-pagination

  div.steps__button.steps__button--prev.swiper-button-prev
  div.steps__button.steps__button--next.swiper-button-next