.slogan {
  max-width: 810px;
  width: 100%;
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 70px;

  @media (max-width: 960px) {
    margin-top: 20px;
    margin-bottom: 20px;
  
  }

  .header2 {
    text-align: center;
  }
}