.link {
  max-width: 435px;
  width: 100%;

  @media(max-width: 960px) {
    max-width: fit-content;
  }

  @media(max-width: 768px) {
    margin: 0 auto;
  }

  &__hyper {
    font-size: 16px;
    line-height: 20px;
    color: #00239C;
    text-decoration: none;
    position: relative;
    display: block;
    padding-right: 15px;
    position: relative;
    max-width: 141px;
    margin-left: auto;

    &:hover {
      text-decoration: underline;
    }

    &:after {
      position: absolute;
      content: '';
      width: 5px;
      height: 5px;
      border-left: 2px solid #00239C;
      border-bottom: 2px solid #00239C;
      transform: rotate(-135deg);
      right: 0;
      top: 6px;
    }
  }
}