.halfs > p {
  margin-top: 50px;
  margin-bottom: 50px;
  line-height: 130%;

  @media(max-width: 960px) {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.halfs__headed > p {
  line-height: 130%;
  max-width: 605px;
  width: 100%;
  margin: 0;
}

.halfs__headed > .halfs__question {
  max-width: 100%;
  flex: 0 0 100%;
  width: 100%;
  margin-bottom: 1em;
  @media(max-width: 768px) {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
    font-size: 25px;
    line-height: 29px;
  }
}

.halfs {
  margin-bottom: 80px;

  @media(max-width: 960px) {
    margin-bottom: 20px;
  }

  &__agile {
    display: none;

    &--opened {
      display: block;
    }
  }


  &__headed {
    display: flex;
    justify-content: space-between;
    padding-top: 49px;
    border-top: 1px solid #D0D3D4;
    margin-top: 50px;
    flex-wrap: wrap;
    @media(max-width: 768px) {
      padding-top: 19px;
      margin-top: 20px;
      flex-direction: column;
    }
  }

  &__question {
    font-size: 28px;
    line-height: 35px;
    font-weight: bold;
    flex: 0 0 100%;
  }

  &__button-text {
    margin: 0;
    position: relative;
    padding-right: 20px;
  }

  &__switcher {
    font-size: 16px;
    line-height: 20px;
    color: #00239C;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 40px;
    background: none;
    border: 0;
    outline: none;

    @media(max-width: 768px) {
      margin-top: 20px;
    }
    
    &:hover {
      text-decoration: underline;
    }

    .halfs__pointer {
      position: absolute;
      display: block;
      width: 7px;
      height: 7px;
      border-left: 2px solid #00239c;
      border-bottom: 2px solid #00239c;
      transform: rotate(-45deg);
      right: 5px;
      top: 5px;
    }

    .halfs__button-text {
      width: 120px;
      margin: 0 auto;
    }

    &--opened {
      width: 100%;
      background-color: #F3F3F3;
      border-radius: 3px;

      .halfs__pointer {
        transform: rotate(135deg);
      }
    }
  }

}