.cards {

  &__slide {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .clinic-card {
      width: 31.5%;

      @media (max-width: 1130px) {
        width: 30.5%;
      }

      @media (max-width: 960px) {
        width: 42%;
      }

      @media (max-width: 600px) {
        width: 100%;
      }
    }
  }

  &__button {
    width: 100%;
  }
}