section.cardsSlider.swiper-container
  
  div.cards.swiper-wrapper

    div.cards__slide.swiper-slide
      include /app/blocks/clinicCard/clinicCard
      include /app/blocks/clinicCard/clinicCard
      include /app/blocks/clinicCard/clinicCard
      div.cards__button
        include /app/blocks/more/more

    div.cards__slide.swiper-slide
      include /app/blocks/clinicCard/clinicCard
      include /app/blocks/clinicCard/clinicCard
      include /app/blocks/clinicCard/clinicCard
      div.cards__button
        include /app/blocks/more/more

    div.cards__slide.swiper-slide
      include /app/blocks/clinicCard/clinicCard
      include /app/blocks/clinicCard/clinicCard
      include /app/blocks/clinicCard/clinicCard
      div.cards__button
        include /app/blocks/more/more

    div.cards__slide.swiper-slide
      include /app/blocks/clinicCard/clinicCard
      include /app/blocks/clinicCard/clinicCard
      include /app/blocks/clinicCard/clinicCard
      div.cards__button
        include /app/blocks/more/more

    div.cards__slide.swiper-slide
      include /app/blocks/clinicCard/clinicCard
      include /app/blocks/clinicCard/clinicCard
      include /app/blocks/clinicCard/clinicCard
      div.cards__button
        include /app/blocks/more/more

    div.cards__slide.swiper-slide
      include /app/blocks/clinicCard/clinicCard
      include /app/blocks/clinicCard/clinicCard
      include /app/blocks/clinicCard/clinicCard
      div.cards__button
        include /app/blocks/more/more

    
