.form-input {
  box-sizing: border-box;
  background: #0F306D;
  border-radius: 3px;
  border: 0;
  padding: 15px 15px 15px 20px;
  max-width: 365px;
  line-height: 20px;
  width: 100%;
  margin: 5px;
  color: #ffffff;
  border: 2px solid transparent;

  @media(max-width: 660px) {
    margin-left: 0;
    margin-right: 0;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
  }

  &--invalid {
    border: 2px solid #e4002b;
  }
}

.form-input::-webkit-input-placeholder {
  font-family: inherit;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.form-input::-moz-placeholder {
  font-family: inherit;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.form-input:-moz-placeholder {
  font-family: inherit;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.form-input:-ms-input-placeholder {
  font-family: inherit;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}