.blog-cards {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
  &:last-child{
    margin-bottom: 70px;
  }
  .blog-card {
    width: 31%;
  }

  @media (max-width: 960px) {
    margin-top: 15px;

    .blog-card {
      width: 30%;
    }
  }

  @media (max-width: 768px) {

    .blog-card {
      width: 47%;
    }
  }

  @media (max-width: 686px) {

    .blog-card {
      width: 46%;
    }
  }

  @media (max-width: 520px) {
    justify-content: center;

    .blog-card {
      width: 100%;
    }
  }

  
}