section.blog-cards
  include /app/blocks/blog-card/blog-card
  include /app/blocks/blog-card/blog-card
  include /app/blocks/blog-card/blog-card
  include /app/blocks/blog-card/blog-card
  include /app/blocks/blog-card/blog-card
  include /app/blocks/blog-card/blog-card
  include /app/blocks/blog-card/blog-card