ul.header-links
  li.header-links__item
    a.header-links__link(href="#") О Компании
  li.header-links__item
    a.header-links__link(href="#") Для партнёров
  li.header-links__item
    a.header-links__link(href="#") FAQ
  li.header-links__item
    a.header-links__link(href="#") Отзывы
  li.header-links__item
    a.header-links__link(href="#") Контакты
  li.header-links__item
    a.header-links__link(href="#") Блог