.header-links {
  display: flex;
  padding: 0;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 30px;
  // justify-content: space-between;

  @media (max-width: 960px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;
    order: 2;
  }

  &__item {
    list-style: none;
    margin-right: 20px;
    @media (max-width: 960px) {
      margin-bottom: 10px;
    }
  }

  &__link {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    line-height: 19px;
    color: #222222;

    &--white {
      color: #ffffff;
    }
  }
}