.moreSlider {
  margin-top: 70px;
  margin-bottom: 30px;
  position: relative;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 40px;

  @media (max-width: 320px) {
    padding-left: 0;
    padding-right: 0;
  }

  .blog-card {
    max-width: unset;
  }

  .header2 {
    text-align: center;
  }

  .swiper-pagination {
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
  }

  .swiper-pagination-bullet {
    margin-left: 10px;
    margin: 10px;
    width: 10px;
    height: 10px;
    background-color: #C4C4C4;
    opacity: 1;
    outline: none;

    &:hover {
      background-color: #6A6A6A;
    }
  }

  .swiper-pagination-bullet-active {
    width: 15px;
    height: 15px;
    background-color: #E4002B;
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transform: rotate(45deg);
    outline: none;
    z-index: 9;
  }

  .swiper-button-next {
    right: 0;
  }
  .swiper-button-prev {
    left: 0;
  }

  .swiper-button-next:before,
  .swiper-button-next:before {
    position: absolute;
    content: '';
    width: 6px;
    height: 6px;
    border-right: 4px solid #00239C;
    border-top: 4px solid #00239C;
  }

  .swiper-button-next:hover,
  .swiper-button-prev:hover {
    background-color: #F3F3F3;
  }

  .swiper-button-prev:before {
    position: absolute;
    content: '';
    width: 6px;
    height: 6px;
    border-left: 4px solid #00239C;
    border-bottom: 4px solid #00239C;
  }

  .swiper-button-prev:hover:before {
    border-color: #1F43C2;
  }

  .swiper-button-next:hover:before {
    border-color: #1F43C2;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    display: none;
  }

  &__slider {   
    max-width: 990px;
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;

    .blog-card {
      margin: 0;
    }
  }
}