section.moreSlider
  h2.header2 Читать также

  section.moreSlider__slider.swiper-container

    section.moreSlider__slider-wrapper.swiper-wrapper
      include /app/blocks/blog-card/blog-card
      include /app/blocks/blog-card/blog-card
      include /app/blocks/blog-card/blog-card
      include /app/blocks/blog-card/blog-card
      include /app/blocks/blog-card/blog-card
      include /app/blocks/blog-card/blog-card
  
  section.moreSlider__pagination.swiper-pagination

  section.moreSlider__button.moreSlider__button--prev.swiper-button-prev
  section.moreSlider__button.moreSlider__button--next.swiper-button-next