section.clinicsSlider

  section.clinics.swiper-container

    div.clinics__wrapper.swiper-wrapper

      div.clinics__slide.swiper-slide
        include /app/blocks/clinic/clinic

      div.clinics__slide.swiper-slide
        include /app/blocks/clinic/clinic

      div.clinics__slide.swiper-slide
        include /app/blocks/clinic/clinic

      div.clinics__slide.swiper-slide
        include /app/blocks/clinic/clinic

      div.clinics__slide.swiper-slide
        include /app/blocks/clinic/clinic


  div.clinics__button.clinics__button--prev.swiper-button-prev
  div.clinics__button.clinics__button--next.swiper-button-next