.clinicsSlider {
  position: relative;
  margin-top: 50px;

  @media(max-width: 960px) {
    margin-top: 20px;
  }


  .swiper-slide {
    padding-bottom: 40px;
  }

  .swiper-slide-active {
    background: linear-gradient(0deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 57%), #F3F3F3;
    position: relative;

    :after {
      position: absolute;
      content: '';
      width: 15px;
      height: 15px;
      bottom: 20px;
      border-left: 4px solid #00239C;
      border-bottom: 4px solid #00239C;
      transform: rotate(-45deg);
      left: 0;
      right: 0;
      margin: auto;
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transform: rotate(45deg);
    outline: none;
    top: 50%;
    z-index: 9;
  }

  .swiper-button-next {
    right: -15px;
  }
  .swiper-button-prev {
    left: -15px;
  }

  .swiper-button-next:before,
  .swiper-button-next:before {
    position: absolute;
    content: '';
    width: 6px;
    height: 6px;
    border-right: 4px solid #00239C;
    border-top: 4px solid #00239C;
  }

  .swiper-button-next:hover,
  .swiper-button-prev:hover {
    background-color: #F3F3F3;
  }

  .swiper-button-prev:before {
    position: absolute;
    content: '';
    width: 6px;
    height: 6px;
    border-left: 4px solid #00239C;
    border-bottom: 4px solid #00239C;
  }

  .swiper-button-prev:hover:before {
    border-color: #1F43C2;
  }

  .swiper-button-next:hover:before {
    border-color: #1F43C2;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    display: none;
  }
}

.clinics {
  max-width: 985px;
  margin: 0 auto;

  .clinic {
    margin: 0 auto;
  }

}