.more {
  max-width: 195px;
  width: 100%;
  text-decoration: none;
  display: block;
  box-sizing: border-box;
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background-color: #E4002B;
  border-radius: 3px;
  border: 0;
  padding: 15px;
  margin: 0 auto;
  cursor: pointer;
  outline: none;
  margin-bottom: 70px;
  margin-top: 40px;
  position: relative;

  &:hover {
    background-color: #FF585D;
  }

  &:active {
    background-color: #fa7d81;
  }

  &.loader {
    
    &:after {
      position: absolute;
      content: '';
      width: 30px;
      height: 30px;
      top: 0;
      bottom: 0;
      margin: auto;
      right: 10px;
      background-image: url('../img/oval.svg');
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}

