.button {
  max-width: 193px;
  width: 100%;
  display: block;
  box-sizing: border-box;
  text-decoration: none;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  text-align: center;
  padding: 15px;
  background-color: #E4002B;
  border-radius: 3px;
  border: 0;
  cursor: pointer;
  font-weight: bold;

  &--inversion {
    background-color: #ffffff;
    color: #000000; 
  }

  &:hover {
    background-color: #FF585D;
  }
  &.wide{
    max-width: 100%;
    display: inline-block;
    width: auto;
  }
  &.centered{
    margin: 20px auto 50px;
  }
}