.clinic {
  max-width: 315px;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #F3F3F3;
  border-radius: 3px;
  padding: 30px 20px 30px 30px;
  min-height: 395px;

  @media (max-width: 960px) {
    padding: 20px;
  }

  &__heading {
  font-weight: bold;
  font-size: 18px;
  line-height: 130%;
  margin: 0;
  padding-bottom: 15px;
  }

  &__meta {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__flag {
    display: inline-block;
    width: 30px;
    height: 18px;
    border-radius: 3px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__country {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #00239C;
    margin-left: 15px;
  }

  &__city {
    font-size: 14px;
    line-height: 17px;
    text-align: right;
    color: #6A6A6A;
    margin-left: auto;
  }

  &__description {
    line-height: 150%;

    @media (max-width: 768px) {
      font-size: 13px;
    }
  }
}