article.clinic
  p.clinic__heading Центральная клиника Какое-то название им.Кого-то”
  div.clinic__meta
    p.clinic__flag(style="background-image: url(./img/india.png)")
    p.clinic__country Индия
    p.clinic__city г.Нью-Дели
  p.clinic__description Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.