.punkts {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }

  &__item {
    box-sizing: border-box;
    width: 50%;
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 135px;
    padding-bottom: 45px;
    padding-top: 45px;
    padding-right: 62px;

    @media (max-width: 960px) {
      padding-right: 20px;
      padding-left: 110px;
    }

    @media (max-width: 768px) {
      width: 100%;
      padding-top: 110px;
      padding-right: 0;
      padding-left: 0!important;
    }
  }

  &__icon {
    position: absolute;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    background-color: #EAEAEA;
    left: 0;

    @media (max-width: 768px) {
      top: 0;
      right: 0;
      margin: auto;
    }

    img {
      max-width: 45px;
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
  }

  &__text {
    margin: 0;

    @media (max-width: 768px) {
      text-align: center;
    }
  }

}