ul.punkts
  li.punkts__item
    span.punkts__icon
      img(src="./img/mail.png")
    p.punkts__text Сайт рыбатекст поможет, сайт рыбатекст поможет дизайнеру, верстальщику дизайнеру, верстальщику
  li.punkts__item
    span.punkts__icon
      img(src="./img/chat.png")
    p.punkts__text Сайт рыбатекст поможет, сайт рыбатекст поможет дизайнеру, верстальщику дизайнеру, верстальщику
  li.punkts__item
    span.punkts__icon
      img(src="./img/compass.png")
    p.punkts__text Сайт рыбатекст поможет, сайт рыбатекст поможет дизайнеру, верстальщику дизайнеру, верстальщику
  li.punkts__item
    span.punkts__icon
      img(src="./img/calc.png")
    p.punkts__text Сайт рыбатекст поможет, сайт рыбатекст поможет дизайнеру, верстальщику дизайнеру, верстальщику