.clinic-card {
  max-width: 365px;
  background-color: #F3F3F3;
  border-radius: 3px;
  margin: 10px;
  overflow: hidden;


  &__image {
    width: 100%;
    min-height: 180px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 20px;
  }

  &__information {
    padding: 20px 20px 40px 30px;
  }

  &__city {
    padding: 0;
    margin: 0;
    font-size: 14px;
    line-height: 17px;
    color: #6A6A6A;
    margin-bottom: 20px;

  }

  &__heading {
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #222222;
    margin: 0;
    margin-bottom: 15px;
  }

&__info {
  line-height: 150%;
  }
}