article.clinic-card
  div.clinic-card__image(style="background-image: url(./img/clinic.png)")
  div.clinic-card__information
    p.blog-card__heading Центральная клиника “Какое-то название им.Кого-то”
    p.blog-card__city г. Нью-Дели
    p.blog-card__info Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.
    