.burger {
  padding: 0;
  border: 0;
  outline: 0;
  height: 25px;
  position: relative;
  background-color: unset;
  width: 30px;
  margin-right: 30px;
  display: none;

  @media (max-width: 960px) {
    display: block;
  }

  &__line {
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #000000;
    top: 0;
    left: 0;
    transition: .3s;

    &--second {
      top: 10px;
    }

    &--third {
      top: 20px;
    }
  }
}

.cross {
  .burger__line--first {
    transform: rotate(45deg);
    top: 10px;
  }

  .burger__line--first {
    transform: rotate(45deg);
    top: 10px;
  }

  .burger__line--second {
    visibility: hidden;
    opacity: 0;
  }

  .burger__line--third {
    transform: rotate(135deg);
    top: 10px;
  }
}