.form-textarea {
  font-family: inherit;
  border: none;
  background: #0F306D;
  color: #ffffff;
  width: 100%;
  flex-grow: 1;
  resize: none;
  padding: 20px;
  box-sizing: border-box;
}

.form-textarea::-webkit-input-placeholder {
  font-family: inherit;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  vertical-align: top;
}

.form-textarea::-moz-placeholder {
  font-family: inherit;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  vertical-align: top;
}

.form-textarea:-moz-placeholder {
  font-family: inherit;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  vertical-align: top;
}

.form-textarea:-ms-input-placeholder {
  font-family: inherit;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  vertical-align: top;
}