section.contacts
      section.contacts__main
        h3.header3 Адрес:
        p Москва г, Летниковская ул, дом № 11/10, строение 5
        h3.header3 Телефон:
        a.contacts__phone(href="tel:+74957872179") +7(495)787-21-79 (круглосуточно)
        a.contacts__phone(href="tel:+799999999999") +7 (999) 9999-99-99
        h3.header3 График работы:
        p Офис: понедельник-пятница с 9 до 18, суббота и воскресенье - выходные дни
      section.contacts__legal
        h3.header3 Юридические данные
        p <strong>ООО "ЕВРОП АССИСТАНС СНГ" или «EUROP АSSISТАNСЕ СЕI» s.а.r.l. или «EUROP АSSISТАNСЕ СIS» LLC</strong>
        p Юридический адрес: 115114, Москва г, Летниковская ул, дом № 11/10, строение 5, помещение IV
        p <span>ОГРН:</span> 1027700438501
        p <span>ИНН:</span> 7704223380
        p <span>КПП:</span> 772501001
      section.contacts__map
        iframe(src="https://yandex.ru/map-widget/v1/?um=constructor%3Ae0e6eb6b59aed60e5d07f40dcaf6b7c878c50c8c462048a860f543c3ba8274fc&amp;source=constructor" width="100%" height="100%" frameborder="0")