.contacts {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 70px;

  @media (max-width: 960px) {
    margin-bottom: 20px;
  }

  .header3 {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  p {
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;

    span {
      color: #C4C4C4;
    }
  }

  &__phone {
    display: block;
    font-family: inherit;
    font-size: 16px;
    line-height: 130%;
    color: #222222;
    text-decoration: none;
    padding-bottom: 5px;
  }

  &__main {
    width: 56%;
    padding-right: 20px;

    @media (max-width: 600px) {
      width: 100%;
    }
  }

  &__legal {
    width: 40%;

    @media (max-width: 600px) {
      width: 100%;
      order: 3;
    }
  }

  &__map {
    width: 100%;
    height: 280px;
    padding-top: 50px;

    @media (max-width: 960px) {
      padding-top: 20px;
    }
  }
}