.video {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 65px;

  @media(max-width: 960px) {
    margin-bottom: 20px;
  }

  @media(max-width: 768px) {
    flex-direction: column;
  }

  &__box {
    width: 57%;
    height: 325px;

    @media(max-width: 960px) {
      height: 285px;
    }

    @media(max-width: 915px) {
      height: 235px;
    }

    @media(max-width: 768px) {
      width: 100%;
      height: 325px;
    }

    @media(max-width: 500px) {
      height: 200px;
    }

    @media(max-width: 320px) {
      height: 157px;
    }
  }

  &__header {
    width: 32%;
    font-size: 28px;
    line-height: 35px;
    font-weight: bold;
    margin: 0;
    position: relative;
    padding-top: 75px;
    margin-left: 20px;
    margin-right: 20px;

    @media(max-width: 768px) {
      width: 100%;
      text-align: center;
      padding-top: 20px;
      font-size: 20px;
      line-height: 23px;
      padding-bottom: 20px;
    }

    &:before {
      position: absolute;
      content: '';
      width: 30px;
      height: 30px;
      border-top: 15px solid #E4002B;
      border-left: 15px solid #E4002B;
      top: 0;
      left: 0;

      @media(max-width: 768px) {
        display: none;
      }
    }
  }
}