section.video
  div.video__box
    iframe(width="100%" height="100%" src="https://www.youtube.com/embed/QKvUsbe7U04" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
  p.video__header Мы оказываем профессиональную медицинскую помощь