ul.moreServices
  li.moreServices__item
    a.moreServices__link(href="#") Медицинская горячая линия
  li.moreServices__item
    a.moreServices__link(href="#") Критические заболевания
  li.moreServices__item
    a.moreServices__link(href="#") Перестрахование
  li.moreServices__item
    a.moreServices__link(href="#") Медицинское сопровождение на удаленных объектах
  li.moreServices__item
    a.moreServices__link(href="#") Промышленная медицина
  li.moreServices__item
    a.moreServices__link(href="#") Критические заболевания
  li.moreServices__item
    a.moreServices__link(href="#") Промышленная медицина
  li.moreServices__item
    a.moreServices__link(href="#") Медицинская горячая линия
