.moreServices {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
  margin-top: 50px;
  padding-bottom: 80px;

  @media(max-width: 960px) {
    margin-top: 20px;
    padding-bottom: 20px;
  }

  &__item {
    list-style: none;
  }

  &__link {
    display: block;
    padding: 20px;
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
    color: #00239C;
    background-color: #ffffff;
    font-weight: bold;
    margin: 10px;
    text-decoration: none;
    transition: 0.3s;
    border-radius: 3px;
    text-align: center;

    @media(max-width: 768px) {
      font-size: 16px;
      line-height: 19px;
      padding: 15px;
    }

    &:hover {
      color: #ffffff;
      background-color: #00239C;
    }
  }
}