ul.drop-out

  li.drop-out__item
    p.drop-out__name Медицина
      span.drop-out__icon(style="background-image: url('./img/med-active.svg')")
        img(src="./img/medicine.svg" alt='icon')
    span.drop-out__switcher
    div.drop-out__wrapper
      div.drop-out__menu.drop-out__menu--wide
        p.drop-out__header
          a(href="#") КомпаниямМедицина
        div.drop-out__box
          a.drop-out__link(href="#") Урегулирование обращений
          span.drop-out__checker
          div.drop-out__sub-menu
            div.drop-out__box
              a.drop-out__link(href="#") Вложенная
              span.drop-out__bottom-checker
              div.drop-out__sub-menu
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная

        div.drop-out__box
          a.drop-out__link(href="#") Критические заболевания
          span.drop-out__checker

          div.drop-out__sub-menu
            div.drop-out__box
              a.drop-out__link(href="#") Вложенная
              span.drop-out__bottom-checker

              div.drop-out__sub-menu
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная



        div.drop-out__box
          a.drop-out__link(href="#") ДМС
          span.drop-out__checker
          div.drop-out__sub-menu
            div.drop-out__box
              a.drop-out__link(href="#") Вложенная
              span.drop-out__bottom-checker
              div.drop-out__sub-menu
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная

        div.drop-out__box
          a.drop-out__link(href="#") Перестрахование
          span.drop-out__checker
          div.drop-out__sub-menu
            div.drop-out__box
              a.drop-out__link(href="#") Вложенная
              span.drop-out__bottom-checker
              div.drop-out__sub-menu
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная

        div.drop-out__box
          a.drop-out__link(href="#") Путешествия
          span.drop-out__checker
          div.drop-out__sub-menu
            div.drop-out__box
              a.drop-out__link(href="#") Вложенная
              span.drop-out__bottom-checker
              div.drop-out__sub-menu
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная

        div.drop-out__box
          a.drop-out__link(href="#") Медицинское сопровождение на удаленных объектах
          span.drop-out__checker
          div.drop-out__sub-menu
            div.drop-out__box
              a.drop-out__link(href="#") Вложенная
              span.drop-out__bottom-checker
              div.drop-out__sub-menu
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная
        
        

        div.drop-out__box
          a.drop-out__link(href="#") Медицинское сопровождение на удаленных объектах
          span.drop-out__checker
          div.drop-out__sub-menu
            div.drop-out__box
              a.drop-out__link(href="#") Вложенная
              span.drop-out__bottom-checker
              div.drop-out__sub-menu
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная

        div.drop-out__box
          a.drop-out__link(href="#") Медицинское сопровождение на удаленных объектах
          span.drop-out__checker
          div.drop-out__sub-menu
            div.drop-out__box
              a.drop-out__link(href="#") Вложенная
              span.drop-out__bottom-checker
              div.drop-out__sub-menu
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная

        div.drop-out__box
          a.drop-out__link(href="#") Промышленная медицина
          span.drop-out__checker
          div.drop-out__sub-menu
            div.drop-out__box
              a.drop-out__link(href="#") Вложенная
              span.drop-out__bottom-checker
              div.drop-out__sub-menu
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная

      div.drop-out__menu
        p.drop-out__header Для частных клиентов

        div.drop-out__box
          a.drop-out__link(href="#") Медицинская эвакуация
          span.drop-out__checker
          div.drop-out__sub-menu
            div.drop-out__box
              a.drop-out__link(href="#") Вложенная
              span.drop-out__bottom-checker
              div.drop-out__sub-menu
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная

        div.drop-out__box
          a.drop-out__link(href="#") Критическое заболевание (лечение за рубежом)
          span.drop-out__checker
          div.drop-out__sub-menu
            div.drop-out__box
              a.drop-out__link(href="#") Вложенная
              span.drop-out__bottom-checker
              div.drop-out__sub-menu
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная

        div.drop-out__box
          a.drop-out__link(href="#") Второе медицинское мнение
          span.drop-out__checker
          div.drop-out__sub-menu
            div.drop-out__box
              a.drop-out__link(href="#") Вложенная
              span.drop-out__bottom-checker
              div.drop-out__sub-menu
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная




  li.drop-out__item
    p.drop-out__name Дом и семья
      span.drop-out__icon(style="background-image: url('./img/med-active.svg')")
        img(src="./img/medicine.svg" alt='icon')
    span.drop-out__switcher
    div.drop-out__wrapper
      div.drop-out__menu.drop-out__menu--wide
        p.drop-out__header КомпаниямМедицина
        div.drop-out__box
          a.drop-out__link(href="#") Урегулирование обращений
          span.drop-out__checker
          div.drop-out__sub-menu
            div.drop-out__box
              a.drop-out__link(href="#") Вложенная
              span.drop-out__bottom-checker
              div.drop-out__sub-menu
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная

        div.drop-out__box
          a.drop-out__link(href="#") Критические заболевания
          span.drop-out__checker
          div.drop-out__sub-menu
            div.drop-out__box
              a.drop-out__link(href="#") Вложенная
              span.drop-out__bottom-checker
              div.drop-out__sub-menu
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная



        div.drop-out__box
          a.drop-out__link(href="#") ДМС
          span.drop-out__checker
          div.drop-out__sub-menu
            div.drop-out__box
              a.drop-out__link(href="#") Вложенная
              span.drop-out__bottom-checker
              div.drop-out__sub-menu
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная

        div.drop-out__box
          a.drop-out__link(href="#") Перестрахование
          span.drop-out__checker
          div.drop-out__sub-menu
            div.drop-out__box
              a.drop-out__link(href="#") Вложенная
              span.drop-out__bottom-checker
              div.drop-out__sub-menu
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная

        div.drop-out__box
          a.drop-out__link(href="#") Путешествия
          span.drop-out__checker
          div.drop-out__sub-menu
            div.drop-out__box
              a.drop-out__link(href="#") Вложенная
              span.drop-out__bottom-checker
              div.drop-out__sub-menu
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная

        div.drop-out__box
          a.drop-out__link(href="#") Медицинское сопровождение на удаленных объектах
          span.drop-out__checker
          div.drop-out__sub-menu
            div.drop-out__box
              a.drop-out__link(href="#") Вложенная
              span.drop-out__bottom-checker
              div.drop-out__sub-menu
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная
        
        

        div.drop-out__box
          a.drop-out__link(href="#") Медицинское сопровождение на удаленных объектах
          span.drop-out__checker
          div.drop-out__sub-menu
            div.drop-out__box
              a.drop-out__link(href="#") Вложенная
              span.drop-out__bottom-checker
              div.drop-out__sub-menu
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная

        div.drop-out__box
          a.drop-out__link(href="#") Медицинское сопровождение на удаленных объектах
          span.drop-out__checker
          div.drop-out__sub-menu
            div.drop-out__box
              a.drop-out__link(href="#") Вложенная
              span.drop-out__bottom-checker
              div.drop-out__sub-menu
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная

        div.drop-out__box
          a.drop-out__link(href="#") Промышленная медицина
          span.drop-out__checker
          div.drop-out__sub-menu
            div.drop-out__box
              a.drop-out__link(href="#") Вложенная
              span.drop-out__bottom-checker
              div.drop-out__sub-menu
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная

      div.drop-out__menu
        p.drop-out__header Для частных клиентов

        div.drop-out__box
          a.drop-out__link(href="#") Медицинская эвакуация
          span.drop-out__checker
          div.drop-out__sub-menu
            div.drop-out__box
              a.drop-out__link(href="#") Вложенная
              span.drop-out__bottom-checker
              div.drop-out__sub-menu
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная

        div.drop-out__box
          a.drop-out__link(href="#") Критическое заболевание (лечение за рубежом)
          span.drop-out__checker
          div.drop-out__sub-menu
            div.drop-out__box
              a.drop-out__link(href="#") Вложенная
              span.drop-out__bottom-checker
              div.drop-out__sub-menu
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная

        div.drop-out__box
          a.drop-out__link(href="#") Второе медицинское мнение
          span.drop-out__checker
          div.drop-out__sub-menu
            div.drop-out__box
              a.drop-out__link(href="#") Вложенная
              span.drop-out__bottom-checker
              div.drop-out__sub-menu
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная

  li.drop-out__item
    p.drop-out__name Авто
      span.drop-out__icon(style="background-image: url('./img/med-active.svg')")
        img(src="./img/medicine.svg" alt='icon')
    span.drop-out__switcher
    div.drop-out__wrapper
      div.drop-out__menu.drop-out__menu--wide
        p.drop-out__header КомпаниямМедицина
        div.drop-out__box
          a.drop-out__link(href="#") Урегулирование обращений
          span.drop-out__checker
          div.drop-out__sub-menu
            div.drop-out__box
              a.drop-out__link(href="#") Вложенная
              span.drop-out__bottom-checker
              div.drop-out__sub-menu
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная

        div.drop-out__box
          a.drop-out__link(href="#") Критические заболевания
          span.drop-out__checker
          div.drop-out__sub-menu
            div.drop-out__box
              a.drop-out__link(href="#") Вложенная
              span.drop-out__bottom-checker
              div.drop-out__sub-menu
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная



        div.drop-out__box
          a.drop-out__link(href="#") ДМС
          span.drop-out__checker
          div.drop-out__sub-menu
            div.drop-out__box
              a.drop-out__link(href="#") Вложенная
              span.drop-out__bottom-checker
              div.drop-out__sub-menu
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная

        div.drop-out__box
          a.drop-out__link(href="#") Перестрахование
          span.drop-out__checker
          div.drop-out__sub-menu
            div.drop-out__box
              a.drop-out__link(href="#") Вложенная
              span.drop-out__bottom-checker
              div.drop-out__sub-menu
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная

        div.drop-out__box
          a.drop-out__link(href="#") Путешествия
          span.drop-out__checker
          div.drop-out__sub-menu
            div.drop-out__box
              a.drop-out__link(href="#") Вложенная
              span.drop-out__bottom-checker
              div.drop-out__sub-menu
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная

        div.drop-out__box
          a.drop-out__link(href="#") Медицинское сопровождение на удаленных объектах
          span.drop-out__checker
          div.drop-out__sub-menu
            div.drop-out__box
              a.drop-out__link(href="#") Вложенная
              span.drop-out__bottom-checker
              div.drop-out__sub-menu
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная
        
        

        div.drop-out__box
          a.drop-out__link(href="#") Медицинское сопровождение на удаленных объектах
          span.drop-out__checker
          div.drop-out__sub-menu
            div.drop-out__box
              a.drop-out__link(href="#") Вложенная
              span.drop-out__bottom-checker
              div.drop-out__sub-menu
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная

        div.drop-out__box
          a.drop-out__link(href="#") Медицинское сопровождение на удаленных объектах
          span.drop-out__checker
          div.drop-out__sub-menu
            div.drop-out__box
              a.drop-out__link(href="#") Вложенная
              span.drop-out__bottom-checker
              div.drop-out__sub-menu
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная

        div.drop-out__box
          a.drop-out__link(href="#") Промышленная медицина
          span.drop-out__checker
          div.drop-out__sub-menu
            div.drop-out__box
              a.drop-out__link(href="#") Вложенная
              span.drop-out__bottom-checker
              div.drop-out__sub-menu
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная

      div.drop-out__menu
        p.drop-out__header Для частных клиентов

        div.drop-out__box
          a.drop-out__link(href="#") Медицинская эвакуация
          span.drop-out__checker
          div.drop-out__sub-menu
            div.drop-out__box
              a.drop-out__link(href="#") Вложенная
              span.drop-out__bottom-checker
              div.drop-out__sub-menu
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная

        div.drop-out__box
          a.drop-out__link(href="#") Критическое заболевание (лечение за рубежом)
          span.drop-out__checker
          div.drop-out__sub-menu
            div.drop-out__box
              a.drop-out__link(href="#") Вложенная
              span.drop-out__bottom-checker
              div.drop-out__sub-menu
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная

        div.drop-out__box
          a.drop-out__link(href="#") Второе медицинское мнение
          span.drop-out__checker
          div.drop-out__sub-menu
            div.drop-out__box
              a.drop-out__link(href="#") Вложенная
              span.drop-out__bottom-checker
              div.drop-out__sub-menu
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная

  li.drop-out__item
    p.drop-out__name Страхование
      span.drop-out__icon(style="background-image: url('./img/med-active.svg')")
        img(src="./img/medicine.svg" alt='icon')
    span.drop-out__switcher
    div.drop-out__wrapper
      div.drop-out__menu.drop-out__menu--wide
        p.drop-out__header КомпаниямМедицина
        div.drop-out__box
          a.drop-out__link(href="#") Урегулирование обращений
          span.drop-out__checker
          div.drop-out__sub-menu
            div.drop-out__box
              a.drop-out__link(href="#") Вложенная
              span.drop-out__bottom-checker
              div.drop-out__sub-menu
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная

        div.drop-out__box
          a.drop-out__link(href="#") Критические заболевания
          span.drop-out__checker
          div.drop-out__sub-menu
            div.drop-out__box
              a.drop-out__link(href="#") Вложенная
              span.drop-out__bottom-checker
              div.drop-out__sub-menu
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная



        div.drop-out__box
          a.drop-out__link(href="#") ДМС
          span.drop-out__checker
          div.drop-out__sub-menu
            div.drop-out__box
              a.drop-out__link(href="#") Вложенная
              span.drop-out__bottom-checker
              div.drop-out__sub-menu
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная

        div.drop-out__box
          a.drop-out__link(href="#") Перестрахование
          span.drop-out__checker
          div.drop-out__sub-menu
            div.drop-out__box
              a.drop-out__link(href="#") Вложенная
              span.drop-out__bottom-checker
              div.drop-out__sub-menu
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная

        div.drop-out__box
          a.drop-out__link(href="#") Путешествия
          span.drop-out__checker
          div.drop-out__sub-menu
            div.drop-out__box
              a.drop-out__link(href="#") Вложенная
              span.drop-out__bottom-checker
              div.drop-out__sub-menu
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная

        div.drop-out__box
          a.drop-out__link(href="#") Медицинское сопровождение на удаленных объектах
          span.drop-out__checker
          div.drop-out__sub-menu
            div.drop-out__box
              a.drop-out__link(href="#") Вложенная
              span.drop-out__bottom-checker
              div.drop-out__sub-menu
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная
        
        

        div.drop-out__box
          a.drop-out__link(href="#") Медицинское сопровождение на удаленных объектах
          span.drop-out__checker
          div.drop-out__sub-menu
            div.drop-out__box
              a.drop-out__link(href="#") Вложенная
              span.drop-out__bottom-checker
              div.drop-out__sub-menu
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная

        div.drop-out__box
          a.drop-out__link(href="#") Медицинское сопровождение на удаленных объектах
          span.drop-out__checker
          div.drop-out__sub-menu
            div.drop-out__box
              a.drop-out__link(href="#") Вложенная
              span.drop-out__bottom-checker
              div.drop-out__sub-menu
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная

        div.drop-out__box
          a.drop-out__link(href="#") Промышленная медицина
          span.drop-out__checker
          div.drop-out__sub-menu
            div.drop-out__box
              a.drop-out__link(href="#") Вложенная
              span.drop-out__bottom-checker
              div.drop-out__sub-menu
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная

      div.drop-out__menu
        p.drop-out__header Для частных клиентов

        div.drop-out__box
          a.drop-out__link(href="#") Медицинская эвакуация
          span.drop-out__checker
          div.drop-out__sub-menu
            div.drop-out__box
              a.drop-out__link(href="#") Вложенная
              span.drop-out__bottom-checker
              div.drop-out__sub-menu
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная

        div.drop-out__box
          a.drop-out__link(href="#") Критическое заболевание (лечение за рубежом)
          span.drop-out__checker
          div.drop-out__sub-menu
            div.drop-out__box
              a.drop-out__link(href="#") Вложенная
              span.drop-out__bottom-checker
              div.drop-out__sub-menu
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная

        div.drop-out__box
          a.drop-out__link(href="#") Второе медицинское мнение
          span.drop-out__checker
          div.drop-out__sub-menu
            div.drop-out__box
              a.drop-out__link(href="#") Вложенная
              span.drop-out__bottom-checker
              div.drop-out__sub-menu
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная
                a.drop-out__link(href="#") ВложеннаяВложенная

  li.drop-out__item
    p.drop-out__name Цифровая защита
      span.drop-out__icon(style="background-image: url('./img/med-active.svg')")
        img(src="./img/medicine.svg" alt='icon')
    span.drop-out__switcher
    div.drop-out__wrapper
      div.drop-out__menu.drop-out__menu--wide
        //- p.drop-out__header КомпаниямМедицина
        //- div.drop-out__box
        //- //-   a.drop-out__link(href="#") Урегулирование обращений
        //- //-   span.drop-out__checker
        //- //-   div.drop-out__sub-menu
        //- //-     div.drop-out__box
        //- //-       //- a.drop-out__link(href="#") Вложенная
        //- //-       //- span.drop-out__bottom-checker
        //- //-       //- div.drop-out__sub-menu
        //- //-       //-   a.drop-out__link(href="#") ВложеннаяВложенная
        //- //-       //-   a.drop-out__link(href="#") ВложеннаяВложенная
        //- //-       //-   a.drop-out__link(href="#") ВложеннаяВложенная

        //- //- div.drop-out__box
        //- //-   a.drop-out__link(href="#") Критические заболевания
        //- //-   span.drop-out__checker
        //- //-   div.drop-out__sub-menu
        //- //-     div.drop-out__box
        //- //-       //- a.drop-out__link(href="#") Вложенная
        //- //-       //- span.drop-out__bottom-checker
        //- //-       //- div.drop-out__sub-menu
        //- //-       //-   a.drop-out__link(href="#") ВложеннаяВложенная
        //- //-       //-   a.drop-out__link(href="#") ВложеннаяВложенная
        //- //-       //-   a.drop-out__link(href="#") ВложеннаяВложенная



        //- //- div.drop-out__box
        //- //-   a.drop-out__link(href="#") ДМС
        //- //-   span.drop-out__checker
        //- //-   div.drop-out__sub-menu
        //- //-     div.drop-out__box
        //- //-       //- a.drop-out__link(href="#") Вложенная
        //- //-       //- span.drop-out__bottom-checker
        //- //-       //- div.drop-out__sub-menu
        //- //-       //-   a.drop-out__link(href="#") ВложеннаяВложенная
        //- //-       //-   a.drop-out__link(href="#") ВложеннаяВложенная
        //- //-       //-   a.drop-out__link(href="#") ВложеннаяВложенная

        //- //- div.drop-out__box
        //- //-   a.drop-out__link(href="#") Перестрахование
        //- //-   span.drop-out__checker
        //- //-   div.drop-out__sub-menu
        //- //-     div.drop-out__box
        //- //-       //- a.drop-out__link(href="#") Вложенная
        //- //-       //- span.drop-out__bottom-checker
        //- //-       //- div.drop-out__sub-menu
        //- //-       //-   a.drop-out__link(href="#") ВложеннаяВложенная
        //- //-       //-   a.drop-out__link(href="#") ВложеннаяВложенная
        //- //-       //-   a.drop-out__link(href="#") ВложеннаяВложенная

        //- //- div.drop-out__box
        //- //-   a.drop-out__link(href="#") Путешествия
        //- //-   span.drop-out__checker
        //- //-   div.drop-out__sub-menu
        //- //-     div.drop-out__box
        //- //-       //- a.drop-out__link(href="#") Вложенная
        //- //-       //- span.drop-out__bottom-checker
        //- //-       //- div.drop-out__sub-menu
        //- //-       //-   a.drop-out__link(href="#") ВложеннаяВложенная
        //- //-       //-   a.drop-out__link(href="#") ВложеннаяВложенная
        //- //-       //-   a.drop-out__link(href="#") ВложеннаяВложенная

        //- //- div.drop-out__box
        //- //-   a.drop-out__link(href="#") Медицинское сопровождение на удаленных объектах
        //- //-   span.drop-out__checker
        //- //-   div.drop-out__sub-menu
        //- //-     div.drop-out__box
        //- //-       //- a.drop-out__link(href="#") Вложенная
        //- //-       //- span.drop-out__bottom-checker
        //- //-       //- div.drop-out__sub-menu
        //- //-       //-   a.drop-out__link(href="#") ВложеннаяВложенная
        //- //-       //-   a.drop-out__link(href="#") ВложеннаяВложенная
        //- //-       //-   a.drop-out__link(href="#") ВложеннаяВложенная
        
        

        //- //- div.drop-out__box
        //- //-   a.drop-out__link(href="#") Медицинское сопровождение на удаленных объектах
        //- //-   span.drop-out__checker
        //- //-   div.drop-out__sub-menu
        //- //-     div.drop-out__box
        //- //-       //- a.drop-out__link(href="#") Вложенная
        //- //-       //- span.drop-out__bottom-checker
        //- //-       //- div.drop-out__sub-menu
        //- //-       //-   a.drop-out__link(href="#") ВложеннаяВложенная
        //- //-       //-   a.drop-out__link(href="#") ВложеннаяВложенная
        //- //-       //-   a.drop-out__link(href="#") ВложеннаяВложенная

        //- //- div.drop-out__box
        //- //-   a.drop-out__link(href="#") Медицинское сопровождение на удаленных объектах
        //- //-   span.drop-out__checker
        //- //-   div.drop-out__sub-menu
        //- //-     div.drop-out__box
        //- //-       //- a.drop-out__link(href="#") Вложенная
        //- //-       //- span.drop-out__bottom-checker
        //- //-       //- div.drop-out__sub-menu
        //- //-       //-   a.drop-out__link(href="#") ВложеннаяВложенная
        //- //-       //-   a.drop-out__link(href="#") ВложеннаяВложенная
        //- //-       //-   a.drop-out__link(href="#") ВложеннаяВложенная

        //- //- div.drop-out__box
        //- //-   a.drop-out__link(href="#") Промышленная медицина
        //- //-   span.drop-out__checker
        //- //-   div.drop-out__sub-menu
        //- //-     div.drop-out__box
        //- //-       //- a.drop-out__link(href="#") Вложенная
        //- //-       //- span.drop-out__bottom-checker
        //- //-       //- div.drop-out__sub-menu
        //- //-       //-   a.drop-out__link(href="#") ВложеннаяВложенная
        //- //-       //-   a.drop-out__link(href="#") ВложеннаяВложенная
        //- //-       //-   a.drop-out__link(href="#") ВложеннаяВложенная

      div.drop-out__menu
        //- p.drop-out__header Для частных клиентов

        //- div.drop-out__box
        //- //-   a.drop-out__link(href="#") Медицинская эвакуация
        //- //-   span.drop-out__checker
        //- //-   div.drop-out__sub-menu
        //- //-     div.drop-out__box
        //- //-       //- a.drop-out__link(href="#") Вложенная
        //- //-       //- span.drop-out__bottom-checker
        //- //-       //- div.drop-out__sub-menu
        //- //-       //-   a.drop-out__link(href="#") ВложеннаяВложенная
        //- //-       //-   a.drop-out__link(href="#") ВложеннаяВложенная
        //- //-       //-   a.drop-out__link(href="#") ВложеннаяВложенная

        //- //- div.drop-out__box
        //- //-   a.drop-out__link(href="#") Критическое заболевание (лечение за рубежом)
        //- //-   span.drop-out__checker
        //- //-   div.drop-out__sub-menu
        //- //-     div.drop-out__box
        //- //-       //- a.drop-out__link(href="#") Вложенная
        //- //-       //- span.drop-out__bottom-checker
        //- //-       //- div.drop-out__sub-menu
        //- //-       //-   a.drop-out__link(href="#") ВложеннаяВложенная
        //- //-       //-   a.drop-out__link(href="#") ВложеннаяВложенная
        //- //-       //-   a.drop-out__link(href="#") ВложеннаяВложенная

        //- //- div.drop-out__box
        //- //-   a.drop-out__link(href="#") Второе медицинское мнение
        //- //-   span.drop-out__checker
        //- //-   div.drop-out__sub-menu
        //- //-     div.drop-out__box
        //- //-       //- a.drop-out__link(href="#") Вложенная
        //- //-       //- span.drop-out__bottom-checker
        //- //-       //- div.drop-out__sub-menu
        //- //-       //-   a.drop-out__link(href="#") ВложеннаяВложенная
        //- //-       //-   a.drop-out__link(href="#") ВложеннаяВложенная
        //- //-       //-   a.drop-out__link(href="#") ВложеннаяВложенная