.drop-out {
  margin: 0;
  padding: 0;
  display: flex;

  @media (max-width: 960px) {
    flex-direction: column;
  }

  &__item {
    width: auto;
    flex: 1 1 20%;
    list-style: none;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;

    @media (max-width: 960px) {
      position: relative;
      width: 100%;
      padding-left: 10px;
      padding-right: 10px;
      box-sizing: border-box;
      border-radius: 5px;
      margin-bottom: 10px;
      display: flex;
      flex-direction: column;
    }

    .drop-out__wrapper {
      @media (max-width: 960px) {
        flex-direction: column;
        position: initial;
        box-shadow: unset;
        background: none;
      }
    }

    &:hover {
      @media(min-width: 961px) {
        background: linear-gradient(0deg, #002699 0%, #1F43C2 100%);
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
        color: #ffffff;

        .drop-out__name:after {
          border-right: 3px solid #ffffff;
          border-bottom: 3px solid #ffffff;
        }

        .drop-out__icon {
          background-size: contain;
        }

        .drop-out__name img {
          display: none;
        }

        .drop-out__wrapper {
          display: flex;
          max-height: 79vh;
          overflow-y: auto;
        }
      }

    }

    &--pressed {
      background: linear-gradient(0deg, #002699 0%, #1F43C2 100%);
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
      color: #ffffff;

      .drop-out__name:after {
        border-right: 3px solid #ffffff;
        border-bottom: 3px solid #ffffff;
        transform: rotate(225deg);
      }

      .drop-out__icon {
        background-size: contain;
      }

      .drop-out__name img {
        display: none;
      }

      .drop-out__wrapper {
        display: flex;

        @media (max-width: 960px) {
          flex-direction: column;
          position: initial;
          box-shadow: unset;
          background: none;
        }
      }
    }
  }

  &__name {
    margin: 0;
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    padding-right: 19px;
    line-height: 25px;

    @media (max-width: 960px) {
      width: 100%;
      justify-content: flex-end;
      padding-right: 35px;
    }

    &:after {
      position: absolute;
      content: '';
      width: 5px;
      height: 5px;
      border-right: 3px solid #000000;
      border-bottom: 3px solid #000000;
      right: 0;
      transform: rotate(45deg);
      top: 5px;
      transition: 0.3s;
      display: none;

      @media (max-width: 960px) {
        display: none;
      }
    }
  }

  &__switcher {
    display: none;

    @media(max-width: 960px) {
      display: none;
      position: absolute;
      width: 20px;
      height: 20px;
      border-right: 3px solid #000000;
      border-bottom: 3px solid #000000;
      top: 25px;
      right: 15px;
      transform: rotate(45deg);
      transition: 0.3s;

      &--opened {
        transform: rotate(-135deg);
        border-color: #ffffff;
      }
    }
  }

  &__icon {
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 0;
    left: 0;

    img {
      width: 100%;
    }
  }

  &__header {
    font-weight: bold;
    color: #ffffff;
    margin: 0;
    padding-bottom: 30px;
    width: 100%;
    transition: all 0.3s ease;
    opacity: 1;
    font-size: 18px;
    a{
      color: #fff;
      text-decoration: none;
      transition: all 0.3s ease;
    }
    &:hover,
    &:focus{
      opacity: 0.7;
    }
    @media (max-width: 960px) {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }

  &__link {
    display: block;
    text-decoration: none;
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 35px;
    position: relative;
    box-sizing: border-box;

    &:hover {
      text-decoration: underline;
    }
  }

  &__wrapper {
    position: absolute;
    background: linear-gradient(0deg, #002699 0%, #1F43C2 100%);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    display: none;
    align-items: flex-start;
    left: 0;
    max-width: 1140px;
    width: 100%;
    top: 233px;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: 0.3s;
  }

  &__menu {
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 33%;
    padding: 30px;

    @media (max-width: 960px) {
      max-width: 100%;
      padding: 0;
    }

    &--wide {
      flex: 1 1 60%;

      @media (max-width: 960px) {
        min-width: unset;
        max-width: 100%;
        width: 100%;
        padding: 0;
      }

      .drop-out__box {
        flex: 0 1 49%;
      }
      .drop-out__link {
        flex: 100%;

        @media (max-width: 575px) {
          padding-right: 30px;
        }
      }
    }
  }

  &__box {
    position: relative;
    flex: 0 0 100%;
    width: auto;

    @media (max-width: 660px) {
      // max-width: 49%;
    }

    @media (max-width: 580px) {
      max-width: 100%;
    }
  }

  &__sub-menu {
    padding-left: 20px;
    display: none;
    @media (min-width: 960px) {
      display: block;
      margin-bottom: 20px;
    }
    &--visible {
      display: block;
    }
  }

  &__bottom-menu {
    padding-left: 10px;
    display: none;

    &--visible {
      display: block;
    }
  }

  &__checker,
  &__bottom-checker {
    position: absolute;
    width: 15px;
    height: 15px;
    border-left: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    top: 13px;
    right: 11px;
    transition: 0.3s;
    transform: rotate(45deg);

    &--opened {
      transform: rotate(-45deg);
    }
  }
  &__checker,
  &__bottom-checker {
    @media (min-width: 960px) {
      display: none;
    }
  }

  &--scrolled {
    background-color: #ffffff;
  }

  &--white {
    background-color: #ffffff;
    border-radius: 5px;
  }


  &__item {

    &.sublinks {
      .drop-out__name {
        &:after {
          @media (min-width: 961px) {
            display: block;
          }
        }
      }

      .drop-out__switcher {
        @media(max-width: 960px) {
          display: block;
        }
      }
    }

    &:not(.sublinks) {
      border-radius: 5px;

      .drop-out__wrapper {
        display: none;
      }

      &:hover {
        .drop-out__wrapper {
          display: none;
        }
      }
    }
  }
}