extends /app/templates/default

block main
  include /app/blocks/breadcrumbs/breadcrumbs
  div.content
    h1 О компании
    +why({
      header: 'О нас'
    })
    +milestone({
      first: 'first',
      year: '1998',
      date: '1998',
      pic: 'background-image: url(./img/boat.png)',
      text1: 'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.',
      text2: 'При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.'
    })
    +milestone({
      short: 'short',
      year: '2001',
      date: '2001',
      pic: 'background-image: url(./img/cutie.png)',
      text1: 'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.',
      text2: 'При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.'
    })
    +milestone({
      hidden: 'hidden',
      year: '2005',
      date: '2005',
      pic: 'background-image: url(./img/boat.png)',
      text1: 'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.',
      text2: 'При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.'
    })
    +milestone({
      hidden: 'hidden',
      year: '2009',
      date: '2009',
      pic: 'background-image: url(./img/cutie.png)',
      text1: 'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.',
      text2: 'При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.'
    })
    +milestone({
      last: 'last',
      year: '2012',
      date: '2012',
      pic: 'background-image: url(./img/boat.png)',
      text1: 'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.',
      text2: 'При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.'
    })
    include /app/blocks/rollout/rollout

    h2.header2.header2--center Наши ценности
    +values({
      heading1: 'Ответственность',
      heading2: 'Ответственность',
      heading3: 'Ответственность',
      heading4: 'Ответственность',
      heading5: 'Ответственность',
      heading6: 'Ответственность'
    })
    +why({
      header: 'Почему мы',
      header2: 'Работа в Europ Assistance'
    })
    +results
      +accordion({
        thirdVariant: [
          {
            header: 'Менеджер в CALL-Центр'
          },
          {
            header: 'Терапевт с отпытом работы от 6 лет'
          },{
            header: 'Менеджер в CALL-Центр'
          },{
            header: 'Терапевт с отпытом работы от 6 лет'
          },{
            header: 'Менеджер в CALL-Центр'
          },{
            header: 'Терапевт с отпытом работы от 6 лет'
          },{
            header: 'Менеджер в CALL-Центр'
          },{
            header: 'Терапевт с отпытом работы от 6 лет'
          },{
            header: 'Менеджер в CALL-Центр'
          },{
            header: 'Терапевт с отпытом работы от 6 лет'
          },
        ]
      })
    include /app/blocks/slogan/slogan
  +form({
  header: 'Отправить резюме',
  flex: 'true'
  })
    div.form--wide
      +form-vacancy
      +form-input({
        type: 'phone',
        placeholder: 'Ваше телефон*'
      })
      +form-input({
        type: 'text',
        placeholder: 'Ваше имя*'
      })
      +form-input({
        type: 'email',
        placeholder: 'Ваше Email*'
      })
      +form-input({
        type: 'text',
        placeholder: 'Cсылка на ваше резюме на сайте hh.ru*'
      })
    +form-button({
      text: 'Отправить'
    })
    +form-terms({
      text: 'Нажимая кнопку вы соглашаетесь согласие на ',
      href: '#',
      link: 'обработку персональных данных'
    })
    