extends /app/templates/default

block main
  div.overlay(style="background-image: linear-gradient(67deg, #002699 39%, rgba(0, 35, 156, 0) 104%), url(./img/2.png);")
    include /app/blocks/breadcrumbs/breadcrumbs
    div.content
      h1 Лечение за рубежом
      p Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки позиций
      +button({
        name: 'Связаться с нами'
      })
  div.content
    h2.header2.header2--center.header2--margin Почему мы
    +values({
      heading1: 'Индивидуальный подход',
      heading2: 'Сопровождение на всех этапах лечения',
      heading3: 'Ответственность',
      heading4: 'Ответственность',
      heading5: 'Ответственность',
      heading6: 'Ответственность'
    })
    h2.header2.header2--center.header2--margin2 Страны
    include /app/blocks/flagsSlider/flagsSlider
    include /app/blocks/cardsSlider/cardsSlider
  div.color.color--grey
    div.content
      h2.header2.header2--center.header2--padding Направления
      section.directions
        +direction({
          heading: 'Пересадка основных органов'
        })
        +direction({
          heading: 'Раковые заболевания'
        })
        +direction({
          heading: 'Неврология'
        })
        +direction({
          heading: 'Сердечно-сосудистые заболевания'
        })
        +direction({
          heading: 'Гепатит С'
        })
        +direction({
          heading: 'Коронарное шунтирование'
        })

  +form({
  header: 'Связаться с нами',
  text: 'Проконсультируйтесь с нашим специалистом по телефону или оставьте заявку',
  phone: '+7 (999) 999-99-99',
  flex: 'true'
  })
    div.form__input-wrapper
      +form-input({
        type: 'text',
        placeholder: 'Ваше имя*'
      })
      +form-input({
        type: 'email',
        placeholder: 'Ваше Email*'
      })
      +form-input({
        type: 'phone',
        placeholder: 'Ваше телефон*'
      })
      +form-select
    div.second-box
      +form-textarea
    +form-button({
      text: 'Отправить'
    })
    +form-terms({
      text: 'Нажимая кнопку вы соглашаетесь согласие на ',
      href: '#',
      link: 'обработку персональных данных'
    })

    
