extends /app/templates/default

block main
  div.overlay(style="background-image: linear-gradient(67deg, #981D97 39%, rgba(152, 29, 151, 0) 104%), url(./img/turn.png);")
    include /app/blocks/breadcrumbs/breadcrumbs
    div.content
      h1 Пересадка основных органов
      p Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки позиций
      +button({
        name: 'Связаться с нами'
      })
  div.content
    include /app/blocks/india/india
    h2.header2.header2--center.header2--margin Этапы лечения
    +values({
      heading1: 'Консультация специалиста',
      heading2: 'Подготовка необходимых документов',
      heading3: 'Выбор страны и клиники',
      heading4: 'Транспортировка пациента',
      heading5: 'Проведение анализов',
      heading6: 'Лечение'
    })
    h2.header2.header2--center.header2--margin2 Клиники в которых проводится лечение
    include /app/blocks/clinicsSlider/clinicsSlider
    h3.header3.header3--center.header3--margin Врачи клиники
    include /app/blocks/doctorsSlider/doctorsSlider

  +form({
  header: 'Связаться с нами',
  text: 'Проконсультируйтесь с нашим специалистом по телефону или оставьте заявку',
  phone: '+7 (999) 999-99-99',
  flex: 'true'
  })
    div.form__input-wrapper
      +form-input({
        type: 'text',
        placeholder: 'Ваше имя*'
      })
      +form-input({
        type: 'email',
        placeholder: 'Ваше Email*'
      })
      +form-input({
        type: 'phone',
        placeholder: 'Ваше телефон*'
      })
      +form-select
    div.second-box
      +form-textarea
    +form-button({
      text: 'Отправить'
    })
    +form-terms({
      text: 'Нажимая кнопку вы соглашаетесь согласие на ',
      href: '#',
      link: 'обработку персональных данных'
    })

    
