extends /app/templates/default

block main
  include /app/blocks/breadcrumbs/breadcrumbs
  div.content
    section.page-form-section
      h1 Авторизация
      +page-form({
        authorization: "authorization"
      })



    
