extends /app/templates/default

block main
  include /app/blocks/breadcrumbs/breadcrumbs
  div.content
    section.article
      h1 Какая-то статья с очень очень очень длинным названием, еще длинее навзание
      include /app/blocks/meta/meta
      include /app/blocks/page-content/page-content
    include /app/blocks/moreSlider/moreSlider
    
  +form({
    header: 'Подписывайтесь на наши новости',
    text: 'Подписывайтесь на нашу рассылку и получайте самые свежие новости!'
    })
    +form-input({
      type: 'text',
      placeholder: 'Ваше имя*'
    })
    +form-input({
      type: 'email',
      placeholder: 'Ваше Email*'
    })
    +form-button({
      text: 'Отправить'
    })
    +form-terms({
      text: 'Нажимая кнопку вы соглашаетесь согласие на ',
      href: '#',
      link: 'обработку персональных данных'
    })

    
