extends /app/templates/default

block main
  include /app/blocks/breadcrumbs/breadcrumbs
  div.content
    h1 Блог
    include /app/blocks/category/category
    include /app/blocks/blog-cards/blog-cards
    include /app/blocks/pagination/pagination

  +form({
    header: 'Подписывайтесь на наши новости',
    text: 'Подписывайтесь на нашу рассылку и получайте самые свежие новости!'
    })
    +form-input({
      type: 'text',
      placeholder: 'Ваше имя*'
    })
    +form-input({
      type: 'email',
      placeholder: 'Ваше Email*'
    })
    +form-button({
      text: 'Отправить'
    })
    +form-terms({
      text: 'Нажимая кнопку вы соглашаетесь согласие на ',
      href: '#',
      link: 'обработку персональных данных'
    })

    
