extends /app/templates/default

block main
  include /app/blocks/breadcrumbs/breadcrumbs
  div.content
    section.page-form-section
      h1 Восстановление пароля
      +page-form({
      forgot: "forgot"
    })