extends /app/templates/default

block main
  include /app/blocks/indexSlider/indexSlider
  div.content
    include /app/blocks/advantages/advantages
    include /app/blocks/link/link
  div.color.color--border-margin
    div.content
      h2.header2.header2--center Наши услгуи
      section.provisions
        +provision({
          name: 'Медицина',
          picture: 'background-image: url(./img/grand.png)'
        })
        +provision({
          name: 'Дом и семья',
          picture: 'background-image: url(./img/snow.png)'
        })
        +provision({
          name: 'Авто',
          picture: 'background-image: url(./img/1.png)'
        })
        +provision({
          name: 'Страхование',
          picture: 'background-image: url(./img/2.png)'
        })
        +provision({
          name: 'Цифровая защита персональных данных',
          picture: 'background-image: url(./img/turn.png)'
        })
  div.content.content--wider
    include /app/blocks/action/action
    h2.header2.header2--center.header2--margin Акции и предложения
    include /app/blocks/offersSlider/offersSlider
    h2.header2.header2--center.header2--margin Новости
    include /app/blocks/informationSlider/informationSlider
  +form({
  header: 'Связаться с нами',
  text: 'Проконсультируйтесь с нашим специалистом по телефону или оставьте заявку',
  phone: '+7 (999) 999-99-99',
  flex: 'true'
  })
    div.form__input-wrapper
      +form-input({
        type: 'text',
        placeholder: 'Ваше имя*'
      })
      +form-input({
        type: 'email',
        placeholder: 'Ваше Email*'
      })
      +form-input({
        type: 'phone',
        placeholder: 'Ваше телефон*'
      })
      +form-select
    div.second-box
      +form-textarea
    +form-button({
      text: 'Отправить'
    })
    +form-terms({
      text: 'Нажимая кнопку вы соглашаетесь согласие на ',
      href: '#',
      link: 'обработку персональных данных'
    })