extends /app/templates/default
block main
  div.overlay(style="background-image: linear-gradient(66.79deg, #009CA6 39.56%, rgba(0, 186, 198, 0) 103.63%), url(./img/india-head.jpg);")
    include /app/blocks/breadcrumbs/breadcrumbs
    div.content
      h1 Мировое качество по доступной цене:
        br
        | Лечение гепатита С в Индии
      p Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки позиций
      a.button.toankor(href="#afterfirst") Подробнее
  div.content#afterfirst
    h2.header2.header2--center.header2--margin Почему Индия?
    include /app/blocks/punkts/punkts

  div.color--grey-block.bg(style="background-image: url(./img/indiasteps.jpg);")
    div.content.center
      h2.header2.header2--center.header2--margin.header2--padding2 Если произошел страховой случай
      include /app/blocks/bgfeatures/bgfeatures
      button.button.button-scroll.wide.centered Получить консультацию
  div.content
    h2.header2.header2--center.header2--margin Почему Европ Ассистанс?
    +bgvalues({
      heading1: 'Консультация специалиста',
      heading2: 'Подготовка необходимых документов',
      heading3: 'Выбор страны и клиники',
      heading4: 'Транспортировка пациента',
    })
  div.content
    h2.header2.header2--center.header2--margin Часто задаваемые вопросы
    +results
      +accordion({
        firstVariant: [
          {
            header: 'Вопрос'
          },
          {
            header: 'Вопрос'
          },
          {
            header: 'Вопрос'
          },
          {
            header: 'Вопрос'
          },

        ]
      })
  +form({
  header: 'Связаться с нами',
  text: 'Проконсультируйтесь с нашим специалистом по телефону или оставьте заявку',
  phone: '+7 (999) 999-99-99',
  flex: 'true'
  })
    div.form__input-wrapper
      +form-input({
        type: 'text',
        placeholder: 'Ваше имя*'
      })
      +form-input({
        type: 'email',
        placeholder: 'Ваше Email*'
      })
      +form-input({
        type: 'phone',
        placeholder: 'Ваше телефон*'
      })
      +form-select
    div.second-box
      +form-textarea
    +form-button({
      text: 'Отправить'
    })
    +form-terms({
      text: 'Нажимая кнопку вы соглашаетесь согласие на ',
      href: '#',
      link: 'обработку персональных данных'
    })