extends /app/templates/default

block main
  div.overlay(style="background-image: linear-gradient(69deg, #A6192E 35%, rgba(234, 56, 83, 0) 100%), url(./img/rush.jpg);")
    include /app/blocks/breadcrumbs/breadcrumbs
    div.content
      h1 Медицинская эвакуация
      p Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки позиций
      +button({
        name: 'Связаться с нами',
        inversion: 'inversion'
      })
  div.content
    p.plain Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.
    include /app/blocks/video/video
    h2.header2.header2--center Как происходит медицинская эвакуация
    include /app/blocks/steps/steps
  div.color--grey-block
    div.content
      h2.header2.header2--center.header2--padding2 Если произошел страховой случай
      include /app/blocks/counter/counter
      h2.header2.header2--center.header2--padding2 Более подробно о возможных ситуациях вы можете почитать в наших статьях
      section.info
        +information({
          header: 'Как правильно определить страховой случай',
          date: '01.01.2019'
        })
        +information({
          header: 'Что делать если, закончилась страховка',
          date: '01.01.2019'
        })
        +information({
          header: 'Как правильно определить страховой случай',
          date: '01.01.2019'
        })
        +information({
          header: 'Что делать если, закончилась страховка',
          date: '01.01.2019'
        })
  div.content
    h2.header2.header2--center.header2--margin В каких случаях может понядобится
    include /app/blocks/punkts/punkts
    h2.header2.header2--center.header2--margin Какие документы нужны для оформления
    +trio({
      duo: 'duo'
    })
    h2.header2.header2--center.header2--margin Наши партнеры зарубежом и в России
    include /app/blocks/partnersSlider/partnersSlider

  +form({
  header: 'Связаться с нами',
  text: 'Проконсультируйтесь с нашим специалистом по телефону или оставьте заявку',
  phone: '+7 (999) 999-99-99',
  flex: 'true'
  })
    div.form__input-wrapper
      +form-input({
        type: 'text',
        placeholder: 'Ваше имя*'
      })
      +form-input({
        type: 'email',
        placeholder: 'Ваше Email*'
      })
      +form-input({
        type: 'phone',
        placeholder: 'Ваше телефон*'
      })
      +form-select
    div.second-box
      +form-textarea
    +form-button({
      text: 'Отправить'
    })
    +form-terms({
      text: 'Нажимая кнопку вы соглашаетесь согласие на ',
      href: '#',
      link: 'обработку персональных данных'
    })