extends /app/templates/default

block main
  div.overlay(style="background-image: linear-gradient(67deg, #002699 39%, rgba(0, 35, 156, 0) 104%), url(./img/2.png);")
    include /app/blocks/breadcrumbs/breadcrumbs
    div.content
      h1 Медицинская помощь
      p Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки позиций
      +button({
        name: 'Связаться с нами'
      })
  div.content
    h2.header2.header2--margin.header2--center Медицинское помощь зарубежом
    include /app/blocks/halfs/halfs
  div.color.color--grey-block
    div.content
      include /app/blocks/services/services
      h2.header2.header2--center Еще услуги
      include /app/blocks/moreServices/moreServices


  +form({
  header: 'Связаться с нами',
  text: 'Проконсультируйтесь с нашим специалистом по телефону или оставьте заявку',
  phone: '+7 (999) 999-99-99',
  flex: 'true'
  })
    div.form__input-wrapper
      +form-input({
        type: 'text',
        placeholder: 'Ваше имя*'
      })
      +form-input({
        type: 'email',
        placeholder: 'Ваше Email*'
      })
      +form-input({
        type: 'phone',
        placeholder: 'Ваше телефон*'
      })
      +form-select
    div.second-box
      +form-textarea
    +form-button({
      text: 'Отправить'
    })
    +form-terms({
      text: 'Нажимая кнопку вы соглашаетесь согласие на ',
      href: '#',
      link: 'обработку персональных данных'
    })

    
