extends /app/templates/default

block main
  include /app/blocks/breadcrumbs/breadcrumbs
  div.content
    section.login-form-section
      h1 Войти в личный кабинет
      a.insurance(href="#" style="background-image:url(img/login-ur.png)") Страховая компания
      a.fiz(href="#" style="background-image:url(img/login-fiz.png)") Физическое лицо
      a.provider(href="#" style="background-image:url(img/login-prov.png)") Провайдер