extends /app/templates/default

block main
  div.overlay(style="background-image: linear-gradient(65deg, #009CA6 40%, rgba(0, 186, 198, 0) 100%), url('./img/1.png');")
    include /app/blocks/breadcrumbs/breadcrumbs
    div.content
      h1 Наши партнерские программы
      p Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки позиций
      +button({
        name: 'Заполнить заявку'
      })
  
  div.content
    h2.header2.header2--center.header2--margin Преимущества работы с нами
    include /app/blocks/punkts/punkts
    h2.header2.header2--center.header2--margin Наши парнерские программы
    include /app/blocks/programms/programms

  +form({
  header: 'Заявка на сотрудничество',
  text: 'Свяжитесь с нашим специалистом по телефону или оставьте заявку',
  phone: '+7 (999) 999-99-99',
  flex: 'true'
  })
    div.form__input-wrapper
      +form-input({
        type: 'text',
        placeholder: 'Ваше имя*'
      })
      +form-input({
        type: 'email',
        placeholder: 'Ваше Email*'
      })
      +form-input({
        type: 'phone',
        placeholder: 'Ваше телефон*'
      })
      +form-input({
        type: 'text',
        placeholder: 'Название организации*'
      })
      +form-input({
        type: 'text',
        placeholder: 'Город*'
      })
    div.second-box
      +form-textarea
    +form-button({
      text: 'Отправить'
    })
    +form-terms({
      text: 'Нажимая кнопку вы соглашаетесь согласие на ',
      href: '#',
      link: 'обработку персональных данных'
    })

    
