extends /app/templates/default

block main
  include /app/blocks/breadcrumbs/breadcrumbs
  div.content
    section.page-form-section
      h1 Регистрация
      +page-form({
      registration: "registration"
    })