extends /app/templates/default

block main
  include /app/blocks/breadcrumbs/breadcrumbs
  div.content
    h1 Отзывы
    include /app/blocks/feedback/feedback
    include /app/blocks/post/post
    include /app/blocks/post/post
    include /app/blocks/post/post
    include /app/blocks/post/post
    include /app/blocks/post/post
    include /app/blocks/post/post
    include /app/blocks/post/post
    include /app/blocks/post/post
    include /app/blocks/post/post
    include /app/blocks/pagination/pagination

  +form({
  header: 'Оставить отзыв',
  flex: 'true'
  })
    div.form__input-wrapper
      +form-input({
        type: 'text',
        placeholder: 'Ваше имя*'
      })
      +form-input({
        type: 'email',
        placeholder: 'Ваше Email*'
      })
      +form-select
      +form-input({
        type: 'text',
        placeholder: 'Ссылка на социальную сеть*'
      })
    div.second-box
      +form-textarea
      +form-stars
    +form-button({
      text: 'Отправить'
    })
    +form-terms({
      text: 'Нажимая кнопку вы соглашаетесь согласие на ',
      href: '#',
      link: 'обработку персональных данных'
    })
    