extends /app/templates/default

block main
  div.overlay(style="background-image: linear-gradient(66.79deg, #009CA6 39.56%, rgba(0, 186, 198, 0) 103.63%), url(./img/roadhelp-bg.png);")
    include /app/blocks/breadcrumbs/breadcrumbs
    div.content
      h1 Уверенность на дорогах с нашей помощью!
      p Произошла поломка на дороге и вам требуется техническая помощь? Свяжитесь с нами и наши специалисты вам помогут!
      a.pillar__more(href="#") Получить помощь*
      .small  *стоимость звонка рассчитывается в соответствии с вашим тарифом
  .roadhelp-icon
    .content
      .rh-item
        img(src="img/road-help-1.png", alt="")
        span Эвакуатор
      .rh-item
        img(src="img/road-help-2.png", alt="")
        span Техпомощь
      .rh-item
        img(src="img/road-help-3.png", alt="")
        span Аварийный комиссар
      .rh-item
        img(src="img/road-help-4.png", alt="")
        span Круглосуточно по всей территории РФ
  .heart-list-wrapper
    .content
      ul.heart
        li( style="background-image:url(img/heart-list.png)")
          .title Сайт рыбатекст поможет
          p Сайт рыбатекст поможет Сайт рыбатекст поможет Сайт рыбатекст поможет Сайт рыбатекст поможет 
        li( style="background-image:url(img/heart-list.png)")
          .title Сайт рыбатекст поможет
          p Сайт рыбатекст поможет Сайт рыбатекст поможет Сайт рыбатекст поможет Сайт рыбатекст поможет
        li( style="background-image:url(img/heart-list.png)")
          .title Сайт рыбатекст поможет
          p Сайт рыбатекст поможет Сайт рыбатекст поможет Сайт рыбатекст поможет Сайт рыбатекст поможет 
        li( style="background-image:url(img/heart-list.png)")
          .title Сайт рыбатекст поможет
          p Сайт рыбатекст поможет Сайт рыбатекст поможет Сайт рыбатекст поможет Сайт рыбатекст поможет 
        li( style="background-image:url(img/heart-list.png)")
          .title Сайт рыбатекст поможет
          p Сайт рыбатекст поможет Сайт рыбатекст поможет Сайт рыбатекст поможет Сайт рыбатекст поможет 
        li( style="background-image:url(img/heart-list.png)")
          .title Сайт рыбатекст поможет
          p Сайт рыбатекст поможет Сайт рыбатекст поможет Сайт рыбатекст поможет Сайт рыбатекст поможет 
  .roadhelp-reviews
    .content
      h2.header2.header2--center.header2--margin2  Отзывы
      .rh-slider
        .roadhelp-reviews_container.swiper-container
          .swiper-wrapper
            .swiper-slide
              .slider-content
                p Приношу самые добрые слова и выражаю благодарность  за практически немедленный отклик, быструю организацию техпомощи, чуткое, внимательное отношение к капризным и технически неграмотным клиентам.
                .name Вячеслав (Москва)
            .swiper-slide
              .slider-content
                p Приношу самые добрые слова и выражаю благодарность  за практически немедленный отклик, быструю организацию техпомощи, чуткое, внимательное отношение к капризным и технически неграмотным клиентам.
                .name Вячеслав (Москва)
            .swiper-slide
              .slider-content
                p Приношу самые добрые слова и выражаю благодарность  за практически немедленный отклик, быструю организацию техпомощи, чуткое, внимательное отношение к капризным и технически неграмотным клиентам.
                .name Вячеслав (Москва)
            .swiper-slide
              .slider-content
                p Приношу самые добрые слова и выражаю благодарность  за практически немедленный отклик, быструю организацию техпомощи, чуткое, внимательное отношение к капризным и технически неграмотным клиентам.
                .name Вячеслав (Москва)
        .swiper-button-prev
        .swiper-button-next
  .roadhelp-articles
    .content
      h2.header2.header2--center.header2--margin2 Статьи
      .articles-wrapper
        include /app/blocks/blog-card/blog-card
        include /app/blocks/blog-card/blog-card
        include /app/blocks/blog-card/blog-card
      a.pillar__more(href="#") Больше статей в блоге
  +form({
  header: 'Связаться с нами',
  text: 'Проконсультируйтесь с нашим специалистом по телефону или оставьте заявку',
  phone: '+7 (999) 999-99-99',
  flex: 'true'
  })
    div.form__input-wrapper
      +form-input({
        type: 'text',
        placeholder: 'Ваше имя*'
      })
      +form-input({
        type: 'email',
        placeholder: 'Ваше Email*'
      })
      +form-input({
        type: 'phone',
        placeholder: 'Ваше телефон*'
      })
      +form-select
    div.second-box
      +form-textarea
    +form-button({
      text: 'Отправить'
    })
    +form-terms({
      text: 'Нажимая кнопку вы соглашаетесь согласие на ',
      href: '#',
      link: 'обработку персональных данных'
    })

    
