extends /app/templates/default

block main
  include /app/blocks/breadcrumbs/breadcrumbs
  div.content
    h1 Политика конфиденциальности
    .halfs
      p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam, impedit, dolore harum temporibus incidunt nemo quidem consectetur voluptas ullam ducimus non iure. Iste, quae! Quas suscipit fuga iusto excepturi eius.
    
    
  +form({
  header: 'Связаться с нами',
  text: 'Проконсультируйтесь с нашим специалистом по телефону или оставьте заявку',
  phone: '+7 (999) 999-99-99',
  flex: 'true'
  })
    div.form__input-wrapper
      +form-input({
        type: 'text',
        placeholder: 'Ваше имя*'
      })
      +form-input({
        type: 'email',
        placeholder: 'Ваше Email*'
      })
      +form-input({
        type: 'phone',
        placeholder: 'Ваше телефон*'
      })
      +form-select
    div.second-box
      +form-textarea
    +form-button({
      text: 'Отправить'
    })
    +form-terms({
      text: 'Нажимая кнопку вы соглашаетесь согласие на ',
      href: '#',
      link: 'обработку персональных данных'
    })