.values {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-left: -10px;
  margin-right: -10px;
  justify-content: space-between;
  margin-top: 50px;

  @media(max-width: 960px) {
    margin-top: 20px;
  }

  &__value-wrapper {
    max-width: 440px;
    width: 100%;
    padding-left: 110px;
    padding-right: 20px;
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 60px;

    @media(max-width: 500px) {
      padding: 100px 20px 20px;
    }
  }

  &__value {
    box-sizing: border-box;
    list-style: none;
    background: #F3F3F3;
    border-radius: 3px;
    position: relative;
    width: 48%;
    margin: 10px;

    @media (max-width: 1019px) {
      width: 47%;
    }

    @media (max-width: 768px) {
      width: 100%;
    }

    &::after {
      position: absolute;
      content: '';
      width: 30px;
      height: 30px;
      border-top: 10px solid #fff;
      border-right: 10px solid #fff;
      top: 20px;
      right: 20px;
    }
  }

  &__heading {
    margin: 0;
    font-size: 22px;
    line-height: 27px;
    font-weight: bold;
    color: #00239C;
    padding-bottom: 20px;
  }

  &__text {
    margin: 0;
  }

  &__picture {
    position: absolute;
    width: 67px;
    height: 67px;
    background-repeat: no-repeat;
    background-size: contain;
    left: 20px;

    @media(max-width: 500px) {
      top: 20px;
    }
  }
}
