mixin values(data)

  ul.values
    li.values__value
      div.values__value-wrapper
        span.values__picture(style="background-image: url(./img/port.svg)")
        p.values__heading=data.heading1
        p.values__text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько.

    li.values__value
      div.values__value-wrapper
        span.values__picture(style="background-image: url(./img/port.svg)")
        p.values__heading=data.heading2
        p.values__text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько.

    li.values__value
      div.values__value-wrapper
        span.values__picture(style="background-image: url(./img/port.svg)")
        p.values__heading=data.heading3
        p.values__text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько.

    li.values__value
      div.values__value-wrapper
        span.values__picture(style="background-image: url(./img/port.svg)")
        p.values__heading=data.heading4
        p.values__text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько.

    li.values__value
      div.values__value-wrapper
        span.values__picture(style="background-image: url(./img/port.svg)")
        p.values__heading=data.heading5
        p.values__text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько.

    li.values__value
      div.values__value-wrapper
        span.values__picture(style="background-image: url(./img/port.svg)")
        p.values__heading=data.heading6
        p.values__text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько.