section.offersSlider

  div.offersSlider__container.swiper-container

    div.offersSlider__wrapper.swiper-wrapper
      include /app/blocks/offer/offer
      include /app/blocks/offer/offer
      include /app/blocks/offer/offer
      include /app/blocks/offer/offer
      include /app/blocks/offer/offer
      include /app/blocks/offer/offer


    div.offersSlider__pagination.swiper-pagination

  div.offersSlider__button.offersSlider__button--prev.swiper-button-prev
  div.offersSlider__button.offersSlider__button--next.swiper-button-next