.meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 90px;
  padding-bottom: 15px;
  margin-bottom: 14px;
  border-bottom: 1px solid #D0D3D4;

  @media (max-width: 960px) {
    padding-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 9px;
  }

  &__category {
    font-size: 14px;
    line-height: 17px;
    color: #6A6A6A;
    padding: 7px 15px 7px 15px;

    background-color: #EAEAEA;
    border-radius: 3px;
  }

  &__date {
    position: relative;
    font-size: 14px;
    line-height: 17px;
    color: #6A6A6A;
    padding-left: 50px;

    &:before {
      position: absolute;
      content: '';
      width: 18px;
      height: 18px;
      background-image: url('../img/timetable.svg');
      background-repeat: no-repeat;
      background-size: contain;
      left: 20px;
    }
  }
}