mixin trio(data)

  if data.trio

    section.trio
      div.trio__picture(style="background-image: url(./img/snow.png)")
      div.trio__info
        p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.

        ul.trio__list
          li.trio__item Сайт рыбатекст поможет;
          li.trio__item Сайт рыбатекст поможет;
          li.trio__item Сайт рыбатекст поможет;

  else if data.duo

    section.trio.trio--inverted
      p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.
      div.trio__picture(style="background-image: url(./img/snow.png)")
      div.trio__info
        ul.trio__list
          li.trio__item Сайт рыбатекст поможет;
          li.trio__item Сайт рыбатекст поможет;
          li.trio__item Сайт рыбатекст поможет;
          li.trio__item Сайт рыбатекст поможет;
          li.trio__item Сайт рыбатекст поможет;