.content{
  .trio {
    border-radius: 3px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
  
    @media(max-width: 768px) {
      flex-direction: column;
    }
  
    &__picture {
      max-width: 465px;
      height: 270px;
      width: 100%;
      margin-right: 20px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      overflow: hidden;
  
      @media(max-width: 768px) {
        margin-right: 0;
        margin: 0 auto;
        margin-bottom: 20px;
      }
    }
  
    &__info {
      max-width: 635px;
      width: 100%;
  
      @media(max-width: 768px) {
        max-width: 100%;
      }
  
      p {
        margin: 0;
        line-height: 130%;
      }
    }
  
    &__list {
      margin: 0;
      padding: 0;
      padding-top: 35px;
  
      @media(min-width: 992px) {
        flex: 0 0 350px;
        
        &:nth-child(1){
          padding-top: 0;
        }
      }
  
      @media(max-width: 768px) {
        padding-top: 20px;
      }
    }
  
    &__item {
      list-style: none;
      padding-left: 35px;
      position: relative;
      line-height: 130%;
      padding-bottom: 10px;
  
      &:before {
        position: absolute;
        content: '';
        width: 5px;
        height: 5px;
        border: 3px solid #00239c;
        border-radius: 50%;
        top: 4px;
        left: 5px;
        margin: auto;
      }
    }
  
    &--inverted {
      flex-wrap: wrap;
      margin-top: 50px;
      margin-bottom: 80px;
  
      @media(max-width: 768px) {
        margin-top: 20px;
        margin-bottom: 20px;
      }
  
  
      p {
        width: 100%;
        margin: 0;
        margin-bottom: 50px;
  
        @media(max-width: 768px) {
          margin-bottom: 20px;
        }
      }
  
      .trio__info {
  
      }
  
      .trio__picture {
        max-width: 65%;
        background-position: top;
  
        @media(max-width: 768px) {
          max-width: 100%;
        }
      }
  
      .trio__info {
        max-width: 32%;
  
        @media(max-width: 768px) {
          max-width: 100%;
        }
      }
    }
  }
}
