.logo {
  display: flex;
  align-items: center;

  &__image {
    display: block;
    width: 75px;
    height: 63px;
    padding-right: 29px;

    @media (max-width: 960px) {
      overflow: hidden;
      height: 38px;
      width: 60px;
    }

    img {
      width: 100%;
    }
  }

  &__text {
    max-width: 185px;
    font-size: 14px;
    line-height: 17px;
    color: #00239C;
    margin: 0;
    padding-left: 29px;
    border-left: 1px solid #D7D2CB;

    @media (max-width: 960px) {
      display: none;
    }
  }
}