.direction {
  display: flex;
  justify-content: space-between;
  border-radius: 3px;
  overflow: hidden;
  margin-bottom: 20px;
  background-color: #ffffff;

  @media (max-width: 768px) {
    flex-direction: column;
  }

  &__info {
    width: 65%;
    padding: 30px 20px 30px 40px;
    box-sizing: border-box;

    @media (max-width: 768px) {
      width: 100%;
      padding: 20px;
    }
  }

  &__heading {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #00239C;
    text-decoration: none;
    position: relative;
    padding-right: 15px;
    

    @media (max-width: 768px) {
      font-size: 18px;
      line-height: 23px;
      display: block;
    }

    &:hover {
      text-decoration: underline;
    }

    &:after {
      position: absolute;
      content: '';
      width: 5px;
      height: 5px;
      border-left: 2px solid #00239C;
      border-bottom: 2px solid #00239C;
      transform: rotate(-135deg);
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;

      @media (max-width: 768px) {
        right: 5px;
      }
    }
  }

  &__picture {
    width: 390px;
    min-height: 205px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @media (max-width: 768px) {
      margin: 0 auto;
      max-width: 390px;
      width: 100%;
    }
  }

  &__text {
    max-width: 630px;

    @media(max-width: 768px) {
      font-size: 13px;
      line-height: 15px;
      max-width: 100%;
    }
  }
}