mixin direction(data)

  section.direction
    div.direction__info
      a.direction__heading(href='#')=data.heading
      p.direction__text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.
    div.direction__picture(style="background-image: url(./img/grand.png)")

