section.doctorsSlider.swiper-container
  
  div.doctors.swiper-wrapper

    div.doctors__slide.swiper-slide
      include /app/blocks/doctorCard/doctorCard
      include /app/blocks/doctorCard/doctorCard
      include /app/blocks/doctorCard/doctorCard
      include /app/blocks/doctorCard/doctorCard
      div.doctors__button
        include /app/blocks/more/more

    div.doctors__slide.swiper-slide
      include /app/blocks/doctorCard/doctorCard
      include /app/blocks/doctorCard/doctorCard
      include /app/blocks/doctorCard/doctorCard
      include /app/blocks/doctorCard/doctorCard
      div.doctors__button
        include /app/blocks/more/more

    div.doctors__slide.swiper-slide
      include /app/blocks/doctorCard/doctorCard
      include /app/blocks/doctorCard/doctorCard
      include /app/blocks/doctorCard/doctorCard
      include /app/blocks/doctorCard/doctorCard
      div.doctors__button
        include /app/blocks/more/more

    div.doctors__slide.swiper-slide
      include /app/blocks/doctorCard/doctorCard
      include /app/blocks/doctorCard/doctorCard
      include /app/blocks/doctorCard/doctorCard
      include /app/blocks/doctorCard/doctorCard
      div.doctors__button
        include /app/blocks/more/more

    div.doctors__slide.swiper-slide
      include /app/blocks/doctorCard/doctorCard
      include /app/blocks/doctorCard/doctorCard
      include /app/blocks/doctorCard/doctorCard
      include /app/blocks/doctorCard/doctorCard
      div.doctors__button
        include /app/blocks/more/more

    div.doctors__slide.swiper-slide
      include /app/blocks/doctorCard/doctorCard
      include /app/blocks/doctorCard/doctorCard
      include /app/blocks/doctorCard/doctorCard
      include /app/blocks/doctorCard/doctorCard
      div.doctors__button
        include /app/blocks/more/more

    
