html {
  scroll-behavior: smooth;
  font-variant-numeric: lining-nums;
}

body {
  font-family: 'DaxlinePro';
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #222222;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.visually-hidden {
  font-size: 0;
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.content {
  max-width: 1140px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  box-sizing: content-box;
  &.center{
    text-align: center;
    &>* *{
      text-align: left;
    }
  }
  &--wider {
    max-width: 1240px;
    position: relative;

    &>* {
      position: relative;
      z-index: 1;
    }

    &::after {
      background: linear-gradient(180deg, #F3F3F3 0%, rgba(243, 243, 243, 0) 100%);
      content: '';
      z-index: 0;
      left: 50%;
      width: 100vw;
      transform: translateX(-50%);
      position: absolute;
      bottom: 0;
      height: calc(100% - 227px);
    }
  }

  &--mobile-nav {

    @media (max-width: 960px) {
      position: absolute;
      width: 100%;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      padding-top: 10px;
      padding-bottom: 10px;
      transition: 0.3s;
      transform: translateX(-100%);
      background-color: #ffffff;
      border-radius: 5px;
    }
  }

  &--opened {
    transform: translateX(0);
  }

}

body.fixed {
  position: relative;
  overflow: hidden;
  transition: 0.3s;

  &:before {
    width: 100%;
    height: 100%;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .25);
    z-index: 1;
  }
}

main {
  padding-top: 233px;
  transition: 0.3s;

  @media (max-width: 960px) {
    padding-top: 60px;
  }

  .content {

    p~ul {
      li:not(.post__star):not(.advantages__item):not(.trio__item) {
        list-style: none;
        padding-left: 35px;
        position: relative;
        line-height: 130%;
        padding-bottom: 10px;

        @media (max-width: 960px) {
          padding-left: 30px;
        }

        &:before {
          position: absolute;
          content: '';
          width: 5px;
          height: 5px;
          border: 3px solid #00239c;
          border-radius: 50%;
          top: 4px;
          left: 5px;
          margin: auto;
          background: #fff;
        }
      }

      ul {
        margin-top: 1em;
        margin-bottom: 1em;
      }
    }

    h2+ul,
    p~ul {
      @media (max-width: 960px) {
        padding-left: 5px;

        li {
          padding-left: 30px;
        }

        ul {
          padding-left: 5px;

          li {
            padding-left: 30px;
          }
        }
      }
    }
  }
}

.main--scrolled {
  padding-top: 242px;
}

.overlay {
  margin: 0;
  padding: 0;
  margin-top: -130px;
  padding-top: 130px;
  transition: 0.3s;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 70px;
  position: relative;
  margin-bottom: 30px;

  &:after {
    position: absolute;
    content: '';
    bottom: -1px;
    width: 100%;
    height: 40px;
    background: linear-gradient(178.5deg, transparent 49%, #ffffff 51%);
  }

  h1 {
    color: #ffffff;

    &+.button {
      margin-top: 2em;
    }

    @media(max-width: 768px) {
      font-size: 30px;
      line-height: 35px;
    }
  }

  .breadcrumbs__item a,
  .breadcrumbs__item span {
    color: #ffffff;
    opacity: 0.5;
  }

  .breadcrumbs__item:not(:first-child):before {
    background-color: #ffffff;
    opacity: 0.5;
  }

  p {
    max-width: 560px;
    width: 100%;
    line-height: 150%;
    color: #FFFFFF;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 30px;

    @media(max-width: 768px) {
      line-height: 19px;
    }
  }

  .content {

    h1~ul,
    h1~ol {
      margin-top: 0em;
      margin-bottom: 2em;

      li:not(.post__star):not(.advantages__item):not(.trio__item) {
        color: #fff;

        @media (max-width: 960px) {
          padding-left: 30px;
        }
      }

      h1~ul {
        li:not(.post__star):not(.advantages__item):not(.trio__item) {
          @media (max-width: 960px) {
            padding-left: 30px;
          }

          &:before {
            position: absolute;
            content: '';
            width: 5px;
            height: 5px;
            border: 3px solid #fff;
            border-radius: 50%;
            top: 2px;
            left: 5px;
            margin: auto;
            background: #00239c;
          }
        }
      }
    }

  }
}

.why {
  ul {
    padding-left: 0;
    margin-top: 2em;
    margin-bottom: 2em;

    li {
      list-style: none;
      padding-left: 35px;
      position: relative;
      line-height: 130%;
      padding-bottom: 10px;

      &:before {
        position: absolute;
        content: '';
        width: 5px;
        height: 5px;
        border: 3px solid #00239c;
        border-radius: 50%;
        top: 2px;
        left: 5px;
        margin: auto;
        background: #fff;
      }
    }
  }
}

.color {
  background-color: #ffffff;

  &--footer-grey {
    background-color: #EAEAEA;
  }

  &--halfs {
    background: linear-gradient(to bottom, #ffffff 50%, #F3F3F3 50%);
  }

  &--deep-blue {
    background-color: #00205B;
  }

  &--grey {
    background: linear-gradient(0deg, #F3F3F3, #F3F3F3), #C4C4C4;
  }

  &--grey-block {
    background-color: #F3F3F3;
    ;
  }

  &--border-margin {
    border-top: 1px solid #D0D3D4;
    margin-top: 70px;
    padding-top: 79px;

    @media(max-width: 960px) {
      margin-top: 20px;
      padding-top: 19px;
    }
  }


}

.shadow {
  background: linear-gradient(to bottom, #ebebeb 0%, #fff 100%);
  padding-bottom: 10px;
}

h1 {
  font-size: 36px;
  line-height: 45px;
  margin: 0;
}

.header2 {
  font-weight: bold;
  font-size: 28px;
  line-height: 100%;
  margin: 0;

  &--center {
    text-align: center;
  }

  &--margin {
    margin-top: 80px;
    margin-bottom: 50px;

    @media(max-width: 768px) {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  &--margin2 {
    margin-top: 70px;

    @media (max-width: 960px) {
      margin-top: 20px;
    }
  }

  &--padding {
    padding-top: 70px;

    @media (max-width: 960px) {
      padding-top: 20px;
    }
  }

  &--padding2 {
    padding-top: 50px;

    @media (max-width: 960px) {
      padding-top: 20px;
    }
  }
}

.header3 {
  font-size: 22px;
  line-height: 27px;
  margin: 0;

  &--center {
    text-align: center;
  }

  &--margin {
    margin-top: 25px;
    margin-bottom: 90px;

    @media (max-width: 960px) {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}

#goup {
  width: 38px;
  height: 38px;
  background-color: #eaeaea;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  position: fixed;
  z-index: 3;
  bottom: 10%;
  opacity: 1;
  cursor: pointer;
  right: 15px;
  transition: all 0.3s ease;
  transform: translateX(0);

  @media screen and (min-width: 1280px) {
    right: 50%;
    transform: translateX(630px);
    width: 48px;
    height: 48px;
  }

  &:after {
    position: absolute;
    content: '';
    box-sizing: border-box;
    width: 8px;
    height: 8px;
    margin-top: 0px;
    border-right: 3px solid #6a6a6a;
    border-bottom: 3px solid #6a6a6a;
    transform: translate(-50%, -50%) rotate(-135deg);
    top: 50%;
    left: 50%;
    transition: .3s;
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }
}

.small {
  font-family: DaxlinePro;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
  margin-top: 15px;
}

.roadhelp-icon {
  background: #F1F1F1;
  position: relative;
  padding: 60px 0;

  &:before {
    position: absolute;
    content: '';
    top: -100px;
    width: 100%;
    height: 100px;
    background: linear-gradient(178.5deg, transparent 49%, #F1F1F1 51%);
  }

  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;

    .rh-item {
      flex: 0 0 24%;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;

      @media screen and (max-width: 991px) {
        flex: 0 0 48%;
      }

      @media screen and (max-width: 480px) {
        flex: 0 0 100%;
      }

      img {
        margin-bottom: 20px;
      }

      span {
        font-family: DaxlinePro;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 130%;
        text-align: center;
        color: #222222;
        display: block;
      }
    }
  }
}

.roadhelp-articles {
  margin-bottom: 85px;

  .content {
    h2 {
      margin-bottom: 43px;
    }

    a.pillar__more {
      margin: 40px auto;
      max-width: 223px;
      width: 100%;
    }

    .articles-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .blog-card {
        margin: 7px;
        max-width: 350px;
        width: 30%;

        @media screen and (max-width: 1131px) {
          max-width: 300px;
        }

        @media screen and (max-width: 900px) {
          flex: 0 0 45%;
          width: 100%;
        }

        @media screen and (max-width: 480px) {
          flex: 0 0 100%;
          width: 100%;
        }
      }
    }
  }
}

ul.heart {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 90px;
  li {
    position: relative;
    padding-left: 110px;
    margin-bottom: 46px;
    flex: 0 0 38%;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0px 5px;
    &:nth-child(odd){
      margin-right: 30px;
    }
    @media screen and (max-width: 1023px) {
      flex: 0 0 32%;
    }
    @media screen and (max-width: 767px) {
      flex: 0 0 90%;
      padding-left: 20px;
      background-size: 17px;
      background-position: 0px 5px;
      &:nth-child(odd){
        margin-right: 0px;
      }
    }
    .title {
      font-family: DaxlinePro;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 130%;
      color: #0F306D;
      margin-bottom: 10px;
    }

    p {
      font-family: DaxlinePro;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 130%;
      color: #000000;
      margin-top: 0;
    }
  }
}

.roadhelp-reviews{
  margin-bottom: 70px;
  .content{
    h2{
      margin-bottom: 26px;
    }
    .rh-slider{
      position: relative;
      .swiper-slide{
       
       .slider-content{
        background: #EDECEC;
        padding: 48px 55px;
        @media(max-width: 767px) {
          padding: 28px 25px;
        }
       }
        .name{
          margin-top: 40px;
        }
      }
      .swiper-button-next,
      .swiper-button-prev {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        transform: rotate(45deg);
        outline: none;
        top: 50%;
        z-index: 9;
      }
    
      .swiper-button-next {
        right: -15px;
      }
      .swiper-button-prev {
        left: -15px;
      }
    
      .swiper-button-next:before,
      .swiper-button-next:before {
        position: absolute;
        content: '';
        width: 6px;
        height: 6px;
        border-right: 4px solid #00239C;
        border-top: 4px solid #00239C;
      }
    
      .swiper-button-next:hover,
      .swiper-button-prev:hover {
        background-color: #F3F3F3;
      }
    
      .swiper-button-prev:before {
        position: absolute;
        content: '';
        width: 6px;
        height: 6px;
        border-left: 4px solid #00239C;
        border-bottom: 4px solid #00239C;
      }
    
      .swiper-button-prev:hover:before {
        border-color: #1F43C2;
      }
    
      .swiper-button-next:hover:before {
        border-color: #1F43C2;
      }
    
      .swiper-button-next::after,
      .swiper-button-prev::after {
        display: none;
      }
    }
  }
}

section.login-form-section {
  background: #FAFAFA;
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.38);
  max-width: 550px;
  margin: 30px auto;
  padding: 40px 80px 70px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  @media(max-width: 600px) {
    padding: 30px 20px 70px;
  }
  &:before{
    content: '';
    position: absolute;
    background: url(../img/login-blue-arrow.png);
    width: 35px;
    height: 35px;
    background-size: contain;
    background-repeat: no-repeat;
    left: 16px;
    top: 97px;
    @media(max-width: 600px) {
      top: 57px;
    }
  }
  &:after{
    content: '';
    position: absolute;
    background: url(../img/login-red-arrow.png);
    width: 35px;
    height: 35px;
    background-size: contain;
    background-repeat: no-repeat;
    right: 16px;
    bottom: 21px;
  }
  h1 {
    font-family: DaxlinePro;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 46px;
    color: #00239C;
    margin-bottom: 60px;
    text-align: center;
    @media(max-width: 600px) {
      font-size: 20px;
      line-height: 26px;
    }
}
a {
  background: #F3F3F3;
  border-radius: 3px;
  display: block;
  margin-bottom: 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 22px;
  color: #00239C;
  text-decoration: none;
  padding: 30px 49px 30px 129px;
  filter: drop-shadow(0px 12px 6px #c4c4c4);
  position: relative;
  background-repeat: no-repeat!important;
  background-size: auto;
  background-position: 33px center;
  @media(max-width: 600px) {
    padding: 24px 14px 24px 66px;
    font-size: 15px;
    line-height: 19px;
    background-position: 16px center;
    background-size: 40px;
  }
  &:after{
    content: '';
    position: absolute;
    background: url(../img/login-small-arrow.png);
    width: 14px;
    height: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    right: 10px;
    top: 10px;
  }
}
}