.messages {
  position: relative;

  &__event {
    transition: 0.3s;
    position: absolute;
    width: 100%;
    height: 100%;

    &--succsess,
    &--fail { 
      visibility: hidden;
      opacity: 0;
    }

    &--message {
      visibility: visible;
      opacity: 1;
    }
  }

  &__text {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
  }

  &__link {
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #FFFFFF;

    &:hover {
      text-decoration: none;
    }
  }

}