.action {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 60px 20px 90px 110px; 
  margin-top: 80px;

  @media(max-width: 960px) {
    padding-left: 60px;
    margin-top: 20px;
  }

  @media(max-width: 768px) {
    padding: 20px;
  }

  &:after {
    position: absolute;
    content: '';
    width: 101%;
    bottom: -3px;
    height: 90px;
    left: -1px;
    background: -o-linear-gradient(271.5deg,transparent 49%,#f4f4f4 51%);
    background: linear-gradient(178.5deg,transparent 49%,#f4f4f4 51%);
    z-index: 1;

    @media(max-width: 768px) {
      display: none;
    }
  }

  .button {


    @media(max-width: 768px) {
      margin: 0 auto;
    }
  }

  &__header {
    font-size: 36px;
    line-height: 45px;
    color: #FFFFFF;
    margin: 0;
    font-weight: bold;
    max-width: 486px;
    padding-top: 85px;
    position: relative;
    padding-bottom: 40px;

    @media(max-width: 768px) {
      font-size: 28px;
      line-height: 100%;
      padding-top: 60px;
      padding-bottom: 20px;
    }

    &:before {
      position: absolute;
      content: '';
      width: 40px;
      height: 40px;
      border-top: 15px solid #e4002b;
      border-left: 15px solid #e4002b;
      top: 0;
      left: 0;

      @media(max-width: 768px) {
        width: 20px;
        height: 20px;
      }
    }
  }

  &__text {
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
    margin: 0;
    padding-bottom: 50px;

    @media(max-width: 768px) {
      padding-bottom: 20px;
    }
  }
}