section.action(style="background-image: linear-gradient(90deg, #00A9CE 28%, rgba(0, 169, 206, 0) 80%), url(./img/train.jpg);")
  p.action__header Наши специалисты помогут вам решить вашу проблему
  p.action__text Которая вызывает у некторых людей недоумение при попытках прочитать рыбу текст.
  +button({
    name: 'Связаться с нами'
  })