.flagsSlider {
  position: relative;
  margin-top: 10px;

  .swiper-slide-active {
    background: linear-gradient(0deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 57%), #F3F3F3;
    position: relative;

    // :after {
    //   position: absolute;
    //   content: '';
    //   width: 15px;
    //   height: 15px;
    //   bottom: 20px;
    //   border-left: 4px solid #00239C;
    //   border-bottom: 4px solid #00239C;
    //   transform: rotate(-45deg);
    //   left: 0;
    //   right: 0;
    //   margin: auto;
    // }
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transform: rotate(45deg);
    outline: none;
    top: 25%;
    z-index: 9;
  }

  .swiper-button-next {
    right: 0;
  }
  .swiper-button-prev {
    left: 0;
  }

  .swiper-button-next:before,
  .swiper-button-next:before {
    position: absolute;
    content: '';
    width: 6px;
    height: 6px;
    border-right: 4px solid #00239C;
    border-top: 4px solid #00239C;
  }

  .swiper-button-next:hover,
  .swiper-button-prev:hover {
    background-color: #F3F3F3;
  }

  .swiper-button-prev:before {
    position: absolute;
    content: '';
    width: 6px;
    height: 6px;
    border-left: 4px solid #00239C;
    border-bottom: 4px solid #00239C;
  }

  .swiper-button-prev:hover:before {
    border-color: #1F43C2;
  }

  .swiper-button-next:hover:before {
    border-color: #1F43C2;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    display: none;
  }
}

.flags {
  max-width: 950px;
  width: 100%;
  margin: 0 auto;



  @media (min-width: 320px) {
    width: 195px;
  }

  @media (min-width: 600px) {
    width: 550px;
  }

  @media (min-width: 960px) {
    width: 880px;
  }



  &__slide {
    padding-top: 40px;
    border-radius: 3px;
    min-height: 275px;
  }

  &__flag {
    max-width: 110px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 3px;
    display: block;

    img {
      width: 100%;
    }
  }

  &__name {
    max-width: 150px;
    font-weight: bold;
    line-height: 130%;
    text-align: center;
    margin: 0;
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
  }
}