section.flagsSlider

  section.flags.swiper-container

    div.flags__wrapper.swiper-wrapper

      div.flags__slide.swiper-slide
        img.flags__flag(src='./img/india.png' alt="india")
        p.flags__name Индия

      div.flags__slide.swiper-slide
        img.flags__flag(src='./img/gb.png' alt="gb")
        p.flags__name Великобритания

      div.flags__slide.swiper-slide
        img.flags__flag(src='./img/usa.png' alt="usa")
        p.flags__name Соединенные Штаты Америки

      div.flags__slide.swiper-slide
        img.flags__flag(src='./img/zeland.png' alt="zeland")
        p.flags__name Новая Зеландия

      div.flags__slide.swiper-slide
        img.flags__flag(src='./img/spain.png' alt="spain")
        p.flags__name Испания

      div.flags__slide.swiper-slide
        img.flags__flag(src='./img/gb.png' alt="counrty")
        p.flags__name Страна

  div.flags__button.flags__button--prev.swiper-button-prev
  div.flags__button.flags__button--next.swiper-button-next