.feedback {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 25px 40px 25px 40px;
  border: 1px solid #C4C4C4;
  margin-top: 80px;
  margin-bottom: 35px;
  justify-content: space-between;
  border-radius: 3px;

  @media (max-width: 960px) {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
  }

  @media (max-width: 768px) {
    justify-content: center;
  }

  &__text {
    font-weight: bold;
    font-size: 22px;
    line-height: 100%;
    color: #222222;
    margin: 0;

  @media (max-width: 960px) {
    font-size: 22px;
    line-height: 23px;
  }

  @media (max-width: 768px) {
      text-align: center;
      padding-bottom: 20px;
    }
  }
}