section.services.swiper-slide
  +service({
    image: 'background-image: url(./img/1.png)',
    header: "Критические заболевания"
  })
  +service({
    image: 'background-image: url(./img/1.png)',
    header: "IPMI (Услуги по полисам Международного медицинского страхования)"
  })
  +service({
    image: 'background-image: url(./img/1.png)',
    header: "Путешествия"
  })
  +service({
    image: 'background-image: url(./img/1.png)',
    header: "IPMI (Услуги по полисам Международного медицинского страхования)"
  })
  h2.header2.header2--center Еще услуги
  include /app/blocks/moreServices/moreServices