.services {
  display: flex;
  flex-wrap: wrap;
  padding-top: 40px;
  padding-bottom: 80px;

  @media(max-width: 960px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .service {
    max-width: 48%;
    display: flex;
    flex-direction: column;
    &__info{
      flex: 1 1 50%;
      display: flex;
      flex-direction: column;
      .service__text{
        flex: 1 1 70%;
      }
    }
    @media(max-width: 1040px) {
      max-width: 47%;
    }

    @media(max-width: 708px) {
      max-width: 100%;
    }
  }

  .header2 {
    margin-top: 80px;
    width: 100%;
  
    @media (max-width: 960px) {
      margin-top: 20px;
    }
  }

  .button {

    @media(max-width: 426px) {
      margin: 0 auto;
    }
  }
}