.nexists {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;

  &__number {
    font-size: 125px;
    line-height: 125px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: bold;
    color:#00205b;

    @media(max-width: 960px) {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    @media(max-width: 768px) {
      font-size: 95px;
      line-height: 95px;
    }
  }

  &__link {
    text-decoration: none;
    color:#00205b;

    &:hover {
      text-decoration: underline;
    }
  }

}