section.nexists
  h2.header2.nexists__text Вы находитесь на несуществующей странице.
  p.nexists__number 404
  h2.header2.nexists__text Предлагаем Вам начать с <a class="nexists__link" href="#">главной.</a>
