ol.counter
  li.counter__item Обратититесь к нам по номеру +7 (999) 999-99-99, или повоните по телефону, указанному в страховом полисе
  li.counter__item Кратко и четко опишите, что случилось
  li.counter__item Четко следовать всем рекомендвциям и указаниям специалистов страховой компании.