.form-select {
  box-sizing: border-box;
  background-color: #0F306D;
  border-radius: 3px;
  border: 0;
  padding: 15px 15px 15px 20px;
  max-width: 365px;
  width: 100%;
  margin: 5px;
  color: #ffffff;
  border: 2px solid transparent;
  -webkit-appearance: none;
  position: relative;
  background-image: url(../img/select-triangle.svg);
  background-position: center right 10px;
  background-repeat: no-repeat;
  background-size: 10px;
}