mixin form-select

  select.form-select(required)
    option(value="") Выберите подразделение*
    option(value="medicine") Медицина
    option(value="insurance") Страхование
    option(value="family") Дом и семья
    option(value="car") Авто
    option(value="digital protection") Цифровая защита