mixin form-vacancy

  select.form-select(required)
    option(value="") Выберите вакансию*
    option(value="choose department") Выбранная вакансия
    option(value="choose department") Выбранная вакансия
    option(value="choose department") Выбранная вакансия
    option(value="choose department") Выбранная вакансия
    option(value="choose department") Выбранная вакансия