mixin form-city

  select.form-select(required)
    option(value="") Город*
    option(value="choose department") Выбранный город
    option(value="choose department") Выбранный город
    option(value="choose department") Выбранный город
    option(value="choose department") Выбранный город
    option(value="choose department") Выбранный город