.informationSlider {
  position: relative;

  &__container {
    max-width: 1005px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 60px;
    margin-top: 50px;
    margin-bottom: 30px;

    @media(max-width: 960px) {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  .swiper-pagination-bullet {
    margin-left: 5px;
    margin: 10px;
    width: 10px;
    height: 10px;
    background-color: #C4C4C4;
    opacity: 1;
    outline: none;

    &:hover {
      background-color: #6A6A6A;
    }
  }

  .swiper-pagination-bullet-active {
    width: 15px;
    height: 15px;
    background-color: #E4002B;
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transform: rotate(45deg);
    outline: none;
    top: 40%;
    z-index: 9;
  }

  .swiper-button-next {
    right: 0;

    @media(max-width: 1075px) {
      right: -15px;
    }
  }
  .swiper-button-prev {
    left: 0;

    @media(max-width: 1075px) {
      left: -15px;
    }
  }

  .swiper-button-next:before,
  .swiper-button-next:before {
    position: absolute;
    content: '';
    width: 6px;
    height: 6px;
    border-right: 4px solid #00239C;
    border-top: 4px solid #00239C;
  }

  .swiper-button-next:hover,
  .swiper-button-prev:hover {
    background-color: #F3F3F3;
  }

  .swiper-button-prev:before {
    position: absolute;
    content: '';
    width: 6px;
    height: 6px;
    border-left: 4px solid #00239C;
    border-bottom: 4px solid #00239C;
  }

  .swiper-button-prev:hover:before {
    border-color: #1F43C2;
  }

  .swiper-button-next:hover:before {
    border-color: #1F43C2;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    display: none;
  }
}