section.informationSlider

  div.informationSlider__container.swiper-container

    div.informationSlider__wrapper.swiper-wrapper
      +information({
        version: 'version',
        header: 'Оформление документов быстрее!',
        date: '01.01.2019'
      })
      +information({
        version: 'version',
        header: 'Оформление документов быстрее!',
        date: '01.01.2019'
      })
      +information({
        version: 'version',
        header: 'Оформление документов быстрее!',
        date: '01.01.2019'
      })
      +information({
        version: 'version',
        header: 'Оформление документов быстрее!',
        date: '01.01.2019'
      })
      +information({
        version: 'version',
        header: 'Оформление документов быстрее!',
        date: '01.01.2019'
      })
      +information({
        version: 'version',
        header: 'Оформление документов быстрее!',
        date: '01.01.2019'
      })

    div.informationSlider__pagination.swiper-pagination

  div.informationSlider__button.informationSlider__button--prev.swiper-button-prev
  div.informationSlider__button.informationSlider__button--next.swiper-button-next