.article {
  max-width: 850px;
  width: 100%;

  .header1 {

    @media (max-width: 960px) {
      font-size: 30px;
      line-height: 35px;
    }
  }
  .page-content ul li:before{
    top: -15px!important;
  }
  .page-content ol li:before{
    top: -4px;
  }
}