header.header

  section.header__top
    div.content
      +logo({
        src: 'img/logo-full.svg',
        text: 'Страхование и помощь в России и зарубжом'
      })
      include /app/blocks/interact/interact
  nav    
    div.content.content--mobile-nav
      include /app/blocks/interact/interact
      include /app/blocks/header-links/header-links
      include /app/blocks/drop-out/drop-out
      



