.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;

  @media (max-width: 960px) {
    background-color: #ffffff;
  }

  &--menu-opened {
    height: 90vh;
    overflow: auto;
  }

  &__top {
    padding-top: 20px;
    padding-bottom: 19px;
    border-bottom: 1px solid #D0D3D4;
    transition: 0.3s;

    @media (max-width: 960px) {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .content {
      display: flex;
      justify-content: space-between;
    }
  }

  .drop-out {
    background: #fff;
    border-radius: 5px;
  }

  .drop-out__name {
    color: #222;
    text-decoration: none;
  }

  .drop-out__item--pressed{
    .drop-out__name {
      color: #fff;
    }
  }
  @media (min-width: 961px) {

    .drop-out__item:focus,
    .drop-out__item:hover {
      .drop-out__name {
        color: #fff;

        &:after {
          border-color: #fff;
        }
      }
    }
  }

  &--scrolled {
    background-color: #ffffff;

    .header__top {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .logo__image {
      overflow: hidden;
      height: 38px;
      width: 60px;
      position: relative;
      top: -5px;
      transition: 0.3s;
    }

    .header-links {
      display: none;
    }

    .drop-out {
      justify-content: space-between;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .drop-out__item {
      box-sizing: border-box;
      max-width: 220px;
      padding: 12px 20px;
      background-color: #ffffff;
      border-radius: 5px;
      border: 1px solid #EAEAEA;
      transition: 0.3s;
    }

    .drop-out__item:not(:last-of-type) {
      margin-right: 3px;
    }

    .drop-out__name {
      width: 100%;
      justify-content: flex-end;
      padding-right: 10px;
      align-items: center;
      color: #222;
      text-decoration: none;
    }

    .drop-out__name:after {
      border-right: 3px solid #00239C;
      border-bottom: 3px solid #00239C;
      width: 8px;
      height: 8px;
    }

    .drop-out__item:focus,
    .drop-out__item:hover {
      @media (min-width: 961px) {
        .drop-out__name {
          color: #fff;

          &:after {
            border-color: #fff;
          }
        }
        &::after{
          content: '';
          position: absolute;
          top: 100%;
          width: 100%;
          height: 101%;
          left: 0;
          margin-top: -11px;
        }
      }
    }

    .drop-out__icon {
      margin-right: 10px;
      background-size: 0;
      width: 15px;
      height: 15px;
      transform: translateY(-3px);
    }

    .drop-out__icon img {
      // width: 0;
      opacity: 1;
    }

    .drop-out__wrapper {
      top: 131px;
      border-radius: 5px;
    }

    .drop-out__item:hover,
    .drop-out__item:focus {
      .drop-out__icon {
        background-size: contain;

        img {
          opacity: 0;
        }
      }
    }
  }
}