mixin milestone(data)

  if data.first
    section.milestone.milestone--line
      div.milestone__info
        p.milestone__year=data.year
        p=data.text1
        p=data.text2
      div.milestone__image(style=data.pic)
        span.milestone__date=data.date
  else if data.short
    section.milestone.milestone--short
      div.milestone__info
        p.milestone__year=data.year
        p=data.text1
        p=data.text2
      div.milestone__image(style=data.pic)
        span.milestone__date=data.date
  else if data.hidden
    section.milestone.milestone--short.milestone--line.milestone--hidden
      div.milestone__info
        p.milestone__year=data.year
        p=data.text1
        p=data.text2
      div.milestone__image(style=data.pic)
        span.milestone__date=data.date
  else if data.last
    section.milestone.milestone--short.milestone--hidden
      div.milestone__info
        p.milestone__year=data.year
        p=data.text1
        p=data.text2
      div.milestone__image(style=data.pic)
        span.milestone__date=data.date