.milestone {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 140px;

  @media (max-width: 768px) {
    flex-direction: column;
    margin-top: 20px;
  }

  &:last-of-type {
    margin-bottom: 70px;
  }

  &:after {
    position: absolute;
    content: '';
    width: 295px;
    height: 137%;
    background-color: #EAEAEA;
    opacity: 0.5;
    right: 0;
    top: -125px;
    z-index: -1;
    transform: skewY(-5deg);

    @media (max-width: 768px) {
      display: none;
    }
  }

  &--line {

    &:before {
      position: absolute;
      content: '';
      width: 20px;
      height: 170px;
      right: 285px;
      bottom: -90px;
      background-image: url('../img/line.svg');
      background-repeat: no-repeat;
      background-size: contain;
      z-index: 1;
  
      @media (max-width: 768px) {
        display: none;
      }
    }
  }

  &--hidden {
    display: none;
  }

  &__info {
    width: 45%;

    @media (max-width: 768px) {
      width: 100%;
      order: -2;
    }
  }

  &__year {
    position: relative;
    font-size: 28px;
    line-height: 35px;
    color: #00239C;
    margin: 0;
    padding-bottom: 30px;

    @media (max-width: 768px) {
      display: none;
    }

    &:after {
      position: absolute;
      content: '';
      width: 150%;
      height: 1px;
      background-color: #C4C4C4;
      bottom: 35px;
      left: 90px;
      z-index: -1;
    }
  }

  p {
    margin: 0;
    line-height: 150%;
    padding-bottom: 30px;

    @media (max-width: 768px) {
      padding-bottom: 20px;
    }
  }

  &__image {
    width: 40%;
    position: relative;
    top: -70px;
    right: 40px;
    background-size: 130%;
    background-repeat: no-repeat;
    border-radius: 30px;
    background-position: center;
    border: 20px solid rgba(255,255,255,.8);
    padding: 20px;
    background-clip: border-box;
    transform: skewY(-5deg);
    min-height: 300px;

    @media (max-width: 990px) {
      background-size: 175%;
      right: 20px;
    }

    @media (max-width: 835px) {
      background-size: 200%;
    }

    @media (max-width: 768px) {
      width: 100%;
      transform: skewY(0deg);
      background-size: cover;
      box-sizing: border-box;
      border: 0;
      top: 0;
      right: 0;
      margin-bottom: 20px;
    }
  }

  &__date {
    font-size: 70px;
    line-height: 50px;
    color: #E6E6E6;
    margin: 0;
    font-weight: bold;
    position: absolute;
    transform: skewY(5deg);
    left: -170px;
    top: 10px;

    @media (max-width: 768px) {
      top: 10px;
      left: 10px;
      font-size: 40px;
      line-height: 40px;
      transform: skewY(0deg);
    }
  }

  &--short {

    .milestone__image{
      width: 30%;
      background-size: 170%;

      @media (max-width: 990px) {
        background-size: 200%;
      }
  
      @media (max-width: 870px) {
        background-size: 250%;
      }

      @media (max-width: 768px) {
        width: 100%;
        background-size: cover;
      }
    }
  }
}