ol.greycounter
  li.greycounter__item 
    .caption Вы связываетесь с нами
    p Мы собираем необходимую медицинскую информацию, отправляем специалистам в Индию, они подбирают наиболее эффективный план лечения, после этого мы подготовим расчет стоимости.
  li.greycounter__item 
    .caption Вы отправляетесь в Индию
    p Мы полностью поможем в организации перелета, проживания и сопровождения.
  li.greycounter__item 
    .caption Поддержка после поездки
    p Наши врачи-гепатологи в Москве и Нью-Дели смогут проконсультировать касательно вопросов по лечению и приёму медикаментов.