.greycounter {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  counter-reset: counter;
  margin-top: 50px;

  @media(max-width: 960px) {
    margin-top: 20px;
  }

  &__item {
    width: 33%;
    position: relative;
    box-sizing: border-box;
    list-style: none;
    padding: 20px 20px 20px 110px;
    line-height: 130%;
    counter-increment: counter;

    @media(max-width: 960px) {
      width: 50%;

    }

    @media(max-width: 767px) {
      width: 100%;
      text-align: center!important;
      padding: 120px 0px 20px 0px;
      padding-left: 0!important;
      *{
        text-align: center!important;
      }
    }
    .caption{
      font-weight: 700;
      font-size: 22px;
      color: #00239C;
      line-height: 1.5em;
    }
    &:before {
      position: absolute;
      content: counter(counter);
      width: 90px;
      height: 90px;
      background-color: #ffffff;
      border-radius: 50%;
      font-size: 36px;
      font-weight: bold;
      line-height: 90px;
      color: #00239C;
      text-align: center;
      left: 0;
      top: 0;

      @media(max-width: 767px) {
        right: 0;
        margin: auto;
      }
    }

  }
}