.form-button {
  font-family : inherit;
  border: 0;
  background-color: #E4002B;
  color: #ffffff;
  padding: 15px;
  border-radius: 3px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  margin: 5px;
  min-width: 195px;
  cursor: pointer;

  @media (max-width: 960px) {
    display: block;
  }

  @media(max-width: 660px) {
    margin-left: 0;
    margin-right: 0;
    margin: 0 auto;
  }

  @media (max-width: 426px) {
    max-width: 365px;
    width: 100%;
    box-sizing: border-box;
  }

  &:hover {
    background-color: #FF585D;
  }
}