.offer {
  padding: 110px 30px 40px 30px;
  border-radius: 3px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  position: relative;
  transition: 0.3s;
  background-color: rgba(0, 35, 156, 0.8);
  display: flex;
  flex-direction: column;
  min-height: 375px;

    &:hover {
      background-color: rgba(0, 35, 156, 1);
    }

  &:before {
    position: absolute;
    content: '';
    width: 30px;
    height: 30px;
    border-top: 10px solid #ffffff;
    border-left: 10px solid #ffffff;
    top: 40px;
    left: 30px;
    z-index: 2;
  }

  &:after {
    position: absolute;
    content: '';
    width: 30px;
    height: 30px;
    border-bottom: 10px solid #E4002B;
    border-right: 10px solid #E4002B;
    bottom: 40px;
    right: 30px;
  }

  &__sheet {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__header {
    font-family: inherit;
    font-size: 22px;
    line-height: 130%;
    color: #FFFFFF;
    text-decoration: none;
    position: relative;

    &:hover {
      text-decoration: underline;
    }
  }

  &__info {
    margin: 0;
    line-height: 20px;
    color: #ffffff;
    position: relative;
    padding-top: 15px;
  }

  &__link {
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
    position: relative;
    padding-right: 15px;
    display: block;
    max-width: 95px;
    margin-top: auto;
    padding-top: 10px;

    &:hover {
      text-decoration: underline;
    }

    &:after {
      position: absolute;
      content: '';
      width: 5px;
      height: 5px;
      border-left: 2px solid #ffffff;
      border-bottom: 2px solid #ffffff;
      transform: rotate(-135deg);
      right: 0;
      top: 17px;
    }
  }
}