article.offer.swiper-slide
  span.offer__sheet(style="background-image: url(./img/road.jpg);")
  a.offer__header(href="#") Оформление документов быстрее!
  p.offer__info По своей сути рыбатекст является альтернативой традиционному lorem ipsum
  a.offer__link(href="#") Подробнее