mixin general

  article.general
    p.general__type Услуга
    a.general__link(href="#") Мединская помощь
    p.general__text ...рыбатекст поможет дизайнеру, верстальщику, <strong>какой-то там запрос</strong> несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При...