.general {
  background-color: #F3F3F3;
  border-radius: 3px;
  padding: 30px;
  margin-bottom: 20px;

  @media(max-width: 600px) {
    padding: 20px;
  }

  &__type {
    display: block;
    margin: 0;
    box-sizing: border-box;
    width: 90px;
    padding: 7px 15px;
    background-color: #ffffff;
    border-radius: 3px;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    color: #6A6A6A;
    margin-bottom: 20px;
  }

  &__link {
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 130%;
  color: #00239C;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    }
  }

  &__text {
    margin: 0;
    margin-top: 15px;
  }
}