.category {
  box-sizing: border-box;
  max-width: 365px;
  width: 100%;
  padding: 15px;
  font-family: 'DaxlinePro';
  font-size: 16px;
  line-height: 20px;
  color: #222222;
  border-radius: 3px;
  border: 1px solid #C4C4C4;
  outline: none;
  margin-top: 80px;

  @media (max-width: 960px) {
    margin-top: 15px;
  }

  @media (max-width: 520px) {
    max-width: 100%;
  }
}