select.category
  option(value="Развернуть") Развернуть
  option(value="Развернуть") Развернуть
  option(value="Развернуть") Развернуть
  option(value="Развернуть") Развернуть
  option(value="Развернуть") Развернуть