section.servicesSlider

  section.servicesSlider__continer.swiper-container

    section.servicesSlider__wrapper.swiper-wrapper

      include /app/blocks/services/services
      include /app/blocks/services/services