.stars {
  display: flex;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;

  &__raiting {
    margin: 0;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    margin-right: 15px;
  }
}

.form-stars {
  float:left;
  border-style: none;
  margin: 0;
  padding: 0;
}

.form-stars:not(:checked) > input {
  position:absolute;
  top: 0;
  clip:rect(0,0,0,0);
}

.form-stars:not(:checked) > label {
  float: right;
  width: 30px;
  height: 18px;
  padding: 0px 0.2em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 23px;
  line-height: 21px;
  color: #93b1e8;
}

.form-stars:not(:checked) > label:before {
  content: '★ ';
}

.form-stars > input:checked ~ label {
  color: #FFB81C;
  font-size: 23px;
}

.form-stars:not(:checked) > label:hover,
.form-stars:not(:checked) > label:hover ~ label {
  color: #FFB81C;
  
}

.form-stars > input:checked + label:hover,
.form-stars > input:checked + label:hover ~ label,
.form-stars > input:checked ~ label:hover,
.form-stars > input:checked ~ label:hover ~ label,
.form-stars > label:hover ~ input:checked ~ label {
  color: #FFB81C;
  
}

.form-stars > label:active {
  position:relative;
  top:2px;
  left:2px;
}
