.info {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
  padding-top: 50px;
  padding-bottom: 80px;

  @media(max-width: 960px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .information {
    width: 23%;
    margin: 10px;
    box-sizing: border-box;

    @media(max-width: 1019px) {
      width: 22%;
    }

    @media(max-width: 960px) {
      width: 31%;
    }

    @media(max-width: 877px) {
      width: 30%;
    }

    @media(max-width: 768px) {
      width: 47%;
    }

    @media(max-width: 686px) {
      width: 46%;
    }

    @media(max-width: 520px) {
      width: 100%;
    }
  }
}