mixin searchbar(data)

  section.searchbar
    form.searchbar__form
      input.searchbar__input(type='text' placeholder=data.placeholder)
      button.searchbar__button
        span.visually-hidden Поиск по статьям
        svg
          use(xlink:href="#icon-search")
  if data.search
    section.searchbar__results
      p Найдено результатов:
        span 15
  