.searchbar {
  margin-top: 80px;
  margin-bottom: 30px;

  @media (max-width:960px) {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  &__form {
    position: relative;
    max-width: 560px;
    width: 100%;
  }

  &__input {
    max-width: 560px;
    width: 100%;
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
    color: #222222;
    padding: 15px;
    border: 2px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 3px;
    outline: none;
  }

  &__button {
    position: absolute;
    width: 35px;
    height: 35px;
    border: 0;
    background: transparent;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    right: 5px;
    top: 0;
    bottom: 0;
    margin: auto;

    &:hover {
      background-color: #F3F3F3;
      border-radius: 50%;

      svg {
        stroke: #1F43C2;
      }
    }

    svg {
      stroke: #C4C4C4;
      width: 17px;
      height: 17px;
    }
  }

  &__results {
    margin: 0;
    margin-top: 50px;

    @media (max-width: 960px) {
      margin-top: 15px;
    }
    

    p {
      color: #6A6A6A;
    }

    span {
      color: #222222;
    }
  }
}