.programms {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;

  @media (max-width: 900px) {
    justify-content: space-between;
  }

  .programm {
    width: 31%;

    @media (max-width: 900px) {
      width: 47%;
    }

    @media (max-width: 686px) {
      width: 45%;
    }

    @media (max-width: 600px) {
      width: 100%;
    }
  }

  .programm__info {
    padding: 20px;
  }

  .programm__heading {
    padding-bottom: 20px;
  }

  .button {
    @media (max-width: 960px) {
      margin-top: 20px;
    }
  }

  .pagination {
    width: 100%;
  }
}