.information {
  background-color: #ffffff;
  border-radius: 3px;
  padding: 40px 25px 40px 30px;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  min-height: 260px;
  border: 2px solid #ffffff;
  box-sizing: border-box;


  &:hover {
    background-color: #F3F3F3;
  }

  &__header {
    font-family: inherit;
    font-size: 18px;
    font-weight: bold;
    line-height: 130%;
    color: #00239C;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__date {
    margin: 0;
    font-size: 14px;
    line-height: 17px;
    color: #6A6A6A;
    padding-top: 15px;
  }

  &__link {
    display: block;
    box-sizing: border-box;
    max-width: 95px;
    position: relative;
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    color: #00239C;
    text-decoration: none;
    padding-right: 15px;
    margin-top: auto;

    &:after {
      position: absolute;
      content: '';
      width: 5px;
      height: 5px;
      border-left: 2px solid #00239C;
      border-bottom: 2px solid #00239C;
      transform: rotate(-135deg);
      right: 0;
      bottom: 8px;

    }

    &:hover {
      text-decoration: underline;
    }
  }

  &--version {
    min-height: 240px;
    background-color: #F3F3F3;
    border: 2px solid #ffffff;

    &:hover {
      background-color: #ffffff;
    }
  }
}