mixin information(data)

  if data.version
    article.information.information--version.swiper-slide
      a.information__header(href="#")=data.header
      p.information__date=data.date
      a.information__link(href="#") Подробнее

  else
    article.information
      a.information__header(href="#")=data.header
      p.information__date=data.date
      a.information__link(href="#") Подробнее