.partnersSlider {
  position: relative;
  padding-bottom: 50px;
  padding-left: 30px;
  padding-right: 30px;

  @media (max-width: 960px) {
    padding-bottom: 25px;
  }

  .swiper-pagination-bullet {
    margin-left: 5px;
    margin: 10px;
    width: 10px;
    height: 10px;
    background-color: #C4C4C4;
    opacity: 1;
    outline: none;

    &:hover {
      background-color: #6A6A6A;
    }
  }

  .swiper-pagination-bullet-active {
    width: 15px;
    height: 15px;
    background-color: #E4002B;
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transform: rotate(45deg);
    outline: none;
    top: 25%;
  }

  .swiper-button-next {
    right: -15px;
  }
  .swiper-button-prev {
    left: -15px;
  }

  .swiper-button-next:before,
  .swiper-button-next:before {
    position: absolute;
    content: '';
    width: 6px;
    height: 6px;
    border-right: 4px solid #00239C;
    border-top: 4px solid #00239C;
  }

  .swiper-button-next:hover,
  .swiper-button-prev:hover {
    background-color: #F3F3F3;
  }

  .swiper-button-prev:before {
    position: absolute;
    content: '';
    width: 6px;
    height: 6px;
    border-left: 4px solid #00239C;
    border-bottom: 4px solid #00239C;
  }

  .swiper-button-prev:hover:before {
    border-color: #1F43C2;
  }

  .swiper-button-next:hover:before {
    border-color: #1F43C2;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    display: none;
  }
}

.partners {
  max-width: 920px;
  height: 80px;
  padding-bottom: 50px;

  &__wrapper {
    margin: 0;
    padding: 0;
    display: flex;
  }

  &__slide {
    list-style: none;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

}