section.partnersSlider

  div.partners.swiper-container

    ul.partners__wrapper.swiper-wrapper

      li.partners__slide.swiper-slide(style="background-image: url(./img/1.png)")
      li.partners__slide.swiper-slide(style="background-image: url(./img/1.png)")
      li.partners__slide.swiper-slide(style="background-image: url(./img/1.png)")
      li.partners__slide.swiper-slide(style="background-image: url(./img/1.png)")
      li.partners__slide.swiper-slide(style="background-image: url(./img/1.png)")
      li.partners__slide.swiper-slide(style="background-image: url(./img/1.png)")
      li.partners__slide.swiper-slide(style="background-image: url(./img/1.png)")
      li.partners__slide.swiper-slide(style="background-image: url(./img/1.png)")
      li.partners__slide.swiper-slide(style="background-image: url(./img/1.png)")
      li.partners__slide.swiper-slide(style="background-image: url(./img/1.png)")
      li.partners__slide.swiper-slide(style="background-image: url(./img/1.png)")
      li.partners__slide.swiper-slide(style="background-image: url(./img/1.png)")
      li.partners__slide.swiper-slide(style="background-image: url(./img/1.png)")
      li.partners__slide.swiper-slide(style="background-image: url(./img/1.png)")
      li.partners__slide.swiper-slide(style="background-image: url(./img/1.png)")
      li.partners__slide.swiper-slide(style="background-image: url(./img/1.png)")
      li.partners__slide.swiper-slide(style="background-image: url(./img/1.png)")
      li.partners__slide.swiper-slide(style="background-image: url(./img/1.png)")
      li.partners__slide.swiper-slide(style="background-image: url(./img/1.png)")
      li.partners__slide.swiper-slide(style="background-image: url(./img/1.png)")
      li.partners__slide.swiper-slide(style="background-image: url(./img/1.png)")
      li.partners__slide.swiper-slide(style="background-image: url(./img/1.png)")
      li.partners__slide.swiper-slide(style="background-image: url(./img/1.png)")
      
    div.partners__pagination.swiper-pagination

  div.partners__button.partners__button--prev.swiper-button-prev
  div.partners__button.partners__button--next.swiper-button-next
