.service {
  max-width: 560px;
  background-color: #FFFFFF;
  border-radius: 3px;
  overflow: hidden;
  margin: 10px;

  .button {
    margin-top: 60px;

    @media(max-width: 768px) {
      margin-top: 20px;
    }
  }

    &__image {
      width: 100%;
      height: 210px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    &__info {
      padding: 30px;

      @media(max-width: 768px) {
        padding: 20px;
      }
    }

    &__header {
      display: block;
      font-family: inherit;
      font-size: 22px;
      line-height: 27px;
      color: #00239C;
      font-weight: bold;
      text-decoration: none;
      position: relative;
      padding-right: 20px;

      @media(max-width: 768px) {
        font-size: 20px;
        line-height: 23px;
      }

      &:hover {
        text-decoration: underline;
      }

      &:after {
        position: absolute;
        content: '';
        width: 5px;
        height: 5px;
        border-left: 2px solid #00239c;
        border-bottom: 2px solid #00239c;
        right: 0;
        top: 0;
        transform: rotate(-135deg);
        bottom: 0;
        margin: auto;
      }
    }
} 