mixin service(data)

  article.service
    div.service__image(style=data.image)
    div.service__info
      a.service__header(href="#")=data.header
      p.service__text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.
      +button({
        name: 'Связаться с нами'
      })