.footer {
  display: flex;
  padding-top: 25px;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (max-width: 615px) {
    display: block;
  }

  &__projects {

    @media (max-width: 615px) {
      padding-bottom: 14px;
      border-bottom: 1px solid #c4c4c4;
      margin-bottom: 15px;
    }
  }

  &__logo {
    width: 75px;
    height: 64px;
    display: block;
    background-image: url('../img/logo-full.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__heading {
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    color: #222222;
    margin: 0;
    padding-bottom: 20px;

    @media (max-width: 767px) {
      font-size: 16px;
      line-height: 19px;
    }

    &--padding {
      padding-top: 75px;

      @media (max-width: 767px) {
        padding-top: 15px;
      }
    }
  }

  &__link {
    display: block;
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #00239C;
    padding-bottom: 5px;

    &:hover {
      color: #1F43C2;
      text-decoration: none;
    }
  }

  &__links-wrapper {
    display: flex;
  }

  &__links {
    margin: 0;
    padding: 0;

    @media (max-width: 425px) {
      width: 50%;
      justify-content: space-between;
    }

    &:first-child {
      padding-right: 80px;

      @media (max-width: 960px) {
        padding-right: 10px;
      }
    }
  }

  &__item {
    list-style: none;
    padding-bottom: 15px;
    width: 170px;

    @media (max-width: 425px) {
      width: 100%;
    }

    a {
      font-size: 16px;
      line-height: 20px;
      color: #222222;
      text-decoration: none;

      @media (max-width: 767px) {
        font-size: 13px;
        line-height: 15px;
      }

      &:hover {
        color: #1f43c2;
      }
    }
  }

  &__social-list {
    margin: 0;
    padding: 0;
    display: flex;
  }

  &__social-link {
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-size: contain;
    list-style: none;
    position: relative;
    margin-right: 10px;
    cursor: pointer;
    a{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: '';
    }
  }

  &__phone {
    font-size: 16px;
    line-height: 20px;
    color: #222222;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
    margin-top: 30px;

    @media (max-width: 425px) {
      text-align: center;
    }
  }

  &__bottom {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-top: 1px solid #C4C4C4;
    padding-top: 14px;
    padding-bottom: 15px;
    margin-top: 50px;

    @media (max-width: 695px) {
      flex-wrap: wrap;
    }

    @media (max-width: 615px) {
      margin-top: 15px;
      display: block;
    }
  }

  &__rights {
    font-size: 12px;
    line-height: 15px;
    color: #6A6A6A;
    margin: 0;

    @media (max-width: 767px) {
      padding-bottom: 7px;
    }

    @media (max-width: 425px) {
      text-align: center;
    }
  }

  &__bottom-links {
    display: flex;

    @media (max-width: 615px) {
      display: block;
    }

    a {
      display: block;
      font-size: 12px;
      line-height: 15px;
      color: #00239C;
      text-decoration: none;
      padding-right: 70px;
      &:last-child{
        padding-right: 0px;
      }
      @media (max-width: 960px) {
        padding-right: 20px;
      }

      @media (max-width: 615px) {
        padding-top: 7px;
        padding-bottom: 7px;
      }

      @media (max-width: 425px) {
        text-align: center;
        padding-right: 0;
      }
  
      &:hover {
        color: #1f43c2;
      }
    }
  }

  &__select {
    display: none;
    border: 0;
    background-color: transparent;
    outline: none;
    color: #00239C;
    cursor: pointer;

    @media (max-width: 695px) {
      display: block;
      width: 75px;
      margin-left: auto;
      padding-left: 60px;
    }
  }
}