div.color.color--footer-grey
  div.content
    footer.footer
      section.footer__projects
        a.footer__logo(href='#')
        p.footer__heading.footer__heading--padding Наши проекты
        a.footer__link(href='https://www.roadli.com/', target='blank') www.roadli.com
        a.footer__link(href='https://www.eahealthy.com/', target='blank') www.eahealthy.com

      div.footer__links-wrapper
        ul.footer__links
          li.footer__item
            a(href='#') О Компании
          li.footer__item
            a(href='#') Для партнеров
          li.footer__item
            a(href='#') FAQ
          li.footer__item
            a(href='#') Отзывы
          li.footer__item
            a(href='#') Контакты
          li.footer__item
            a(href='#') Статьи
          li.footer__item
            a(href='#') Новости

        ul.footer__links
          li.footer__item
            a(href='#') Медицина
          li.footer__item
            a(href='#') Дом и семья
          li.footer__item
            a(href='#') Авто
          li.footer__item
            a(href='#') Страхование
          li.footer__item
            a(href='#') Цифровая защита персональных данных

      section.footer__social
        p.footer__heading Мы в социальных сетях:

        ul.footer__social-list
          //- li.footer__social-link(style="background-image: url('./img/facebook.svg')")
          //-   span.visually-hidden facebook
          //-   a(href="https://www.facebook.com/EuropAssistance/", target='blank')
          //- li.footer__social-link(style="background-image: url('./img/twitter.svg')")
          //-   span.visually-hidden twitter
          //-   a(href="https://twitter.com/EA_Group", target='blank')
          //- li.footer__social-link(style="background-image: url('./img/youtube.svg')")
          //-   span.visually-hidden youtube
          //-   a(href="https://www.youtube.com/channel/UCp2NCi_L_Niyo-_673tziMg", target='blank')
          li.footer__social-link(style="background-image: url('./img/vk.svg')")
            span.visually-hidden VK
            a(href="https://vk.com/europassistancerus", target='blank')
          li.footer__social-link(style="background-image: url('./img/insta.svg')")
            span.visually-hidden Instagram
            a(href="https://www.instagram.com/europassistancecis/", target='blank')

        a.footer__phone(href='tel:+79999999999') +7 (999) 999-99-99
        a.interact__mail.interact__mail--footer(href="mailto:email-test@email.ru") email-test@email.ru

      section.footer__bottom
        p.footer__rights Все права защищены 2019 ©
        div.footer__bottom-links
          a(href="#") Политика конфиденциальности
          a(href="#") Обработка персональных данных
        select.footer__select
          option(value="Russian") Russian
          option(value="English") English
          option(value="German") German
          option(value="French") French
          
        

