mixin accordion(data)
  if data.firstVariant
    each val in data.firstVariant
      section.accordion
        a.accordion__question(href="javascript:void(0);") Какую страховку нужно оформлять, если нужно посетить несколько стран?
          span.accordion__checker +
        div.accordion__hider
          p.accordion__answer Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.

  else if data.secondVariant
    each val in data.secondVariant

      section.accordion
        a.accordion__category(href="javascript:void(0);")=val.name
          span.accordion__checker +
        div.accordion__hider
          ul.accordion__sections
            li.accordion__item
              a.accordion__link(href="#") ДМС
            li.accordion__item
              a.accordion__link(href="#") Путешествия
            li.accordion__item
              a.accordion__link(href="#") IPMI (Услуги по полисам Международного медицинского страхования)
            li.accordion__item
              a.accordion__link(href="#") Второе медицинское мнение
            li.accordion__item
              a.accordion__link(href="#") Чек-ап
            li.accordion__item
              a.accordion__link(href="#") Перестрахование

  else if data.thirdVariant
    each val in data.thirdVariant

      section.accordion
        a.accordion__heading(href="javascript:void(0);")=val.header
          span.accordion__checker +
        div.accordion__hider

          div.accordion__vacancy
            p.accordion__description Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.

            div.accordion__duties-wrapper
              div.accordion__duties
                p.accordion__feature Обязанности:
                ul.accordion__headlines
                  li.accordion__headline Консультирвание клиентов;
                  li.accordion__headline Еще какая-то обязанность;
                  li.accordion__headline И еще какая-то обязанность;

              div.accordion__duties
                p.accordion__feature Что мы даем:
                ul.accordion__headlines
                  li.accordion__headline Консультирвание клиентов;
                  li.accordion__headline Еще какая-то обязанность;
                  li.accordion__headline И еще какая-то обязанность;

            +button({
              name: 'Отправить резюме'
            })