.accordion {
  background-color: #F3F3F3;
  margin-bottom: 20px;

  .button {
    @media(max-width: 425px) {
      margin: 0 auto;
    }
  }

  &__hider {
    display: none;
  }

  &__checker {
    position: absolute;
    font-size: 32px;
    line-height: 25px;
    font-weight: bold;
    overflow: hidden;
    color: #E4002B;
    right: 45px;
    width: 20px;
    height: 20px;
    top: 0;
    bottom: 0;
    margin: auto;
    display: none;
    @media(max-width: 600px) {
      right: 15px;
    }
  }

  &__heading {
    display: block;
    position: relative;
    font-size: 22px;
    line-height: 27px;
    font-weight: bold;
    text-decoration: none;
    color: #00239C;
    margin: 0;
    padding: 40px 70px 40px 25px;
    cursor: pointer;
    &.notempty{
      .accordion__checker{
        display: block;
      }
    }
    @media(max-width: 768px) {
      padding: 20px 70px 20px 20px;
    }
  }

  &__category {
    font-family: inherit;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    display: block;
    position: relative;
    font-size: 22px;
    line-height: 27px;    
    color: #00239C;
    padding: 40px 70px 40px 85px;
    cursor: pointer;
    &.notempty{
      .accordion__checker{
        display: block;
      }
    }
    @media(max-width: 600px) {
      padding: 20px 30px 20px 70px;
    }

    &--opened {

      .accordion__checker {
        height: 3px;
        line-height: 8px;
      }
    }

    &:before {
      position: absolute;
      content: '';
      width: 40px;
      height: 40px;
      background-image: url('../img/beat.svg');
      background-repeat: no-repeat;
      background-size: contain;
      left: 30px;
      top: 0;
      bottom: 0;
      margin: auto;

      @media(max-width: 600px) {
        left: 20px;
      }
    }
  }

  &__question {
    position: relative;
    display: block;
    font-family: inherit;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    padding-left: 30px;
    padding-top: 40px;
    padding-bottom: 30px;
    padding-right: 70px;
    color: #00239C;
    cursor: pointer;
    &.notempty{
      .accordion__checker{
        display: block;
      }
    }
    @media(max-width: 600px) {
      padding: 20px 30px 20px 20px;
    }

  }

  &__sections {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    padding-left: 30px;
    padding-right: 30px;

    @media(max-width: 600px) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  &__item {
    list-style: none;
  }

  &__link {
    font-family: inherit;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    min-width: 220px;
    max-width: 390px;
    min-height: 70px;
    box-sizing: border-box;
    display: block;
    padding: 15px 30px 15px 15px;
    margin-right: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 10px;

    @media (max-width: 520px) {
      margin-right: 0;
    }

    &:visited {
      color: #00239C;
    }

    &:hover {
      background-color: #00239C;
      color: #ffffff;
    }

  }

  &__answer {
    margin: 0;
    max-width: 925px;
    line-height: 150%;
    padding-left: 30px;
    padding-right: 20px;
    padding-bottom: 30px;

    @media (max-width: 520px) {
      padding-left: 20px;
      padding-bottom: 20px;
    }
  }

  &__vacancy {
    padding: 0 80px 40px 40px;
    display: flex;
    flex-wrap: wrap;

    @media(max-width: 768px) {
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 20px;
    }
    .button{
      margin-top: 1em;
    }
  }

  &__description {
    font-size: 16px;
    line-height: 150%;
    margin: 0;
    width: 100%;

    @media (max-width: 768px) {
      padding-bottom: 20px;
    }
  }

  &__duties-wrapper {
    max-width: 920px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__duties {
    display: flex;
    max-width: 380px;
    width: 100%;
    justify-content: space-between;
    margin-right: 20px;
    margin-top: 30px;
    margin-bottom: 60px;

    @media (max-width: 768px) {
      flex-direction: column;
      margin: 0;
      width: 100%;
      padding-bottom: 20px;
    }
  }

  &__feature {
    font-weight: bold;
    margin: 0;

    @media (max-width: 768px) {
      padding-bottom: 10px;
    }
  }

  &__headlines {
    margin: 0;
    padding: 0;
  }

  &__headline {
    list-style: none;
    position: relative;
    padding-left: 30px;
    list-style: none;

    @media (max-width: 768px) {
      padding-left: 20px;
    }

    &:before {
      position: absolute;
      content: '';
      width: 3px;
      height: 3px;
      border-radius: 50%;
      background-color: #002699;
      left: 10px;
      top: 0;
      bottom: 0;
      margin: auto;

      @media (max-width: 768px) {
        left: 0;
      }
    }
  }

  &__cv {
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    display: block;
    width: 100%;
    background: #E4002B;
    border-radius: 3px;
    padding: 15px;
    max-width: 145px;
    text-decoration: none;

    @media (max-width: 426px) {
      margin: 0 auto;
    }
  }
}