.post {
  padding: 30px 30px 30px 40px;
  background-color: #F3F3F3;
  border-radius: 3px;
  position: relative;
  margin-bottom: 20px;

  @media (max-width: 960px) {
    padding: 20px;
  }

  &__author {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  }

  &__social {
    display: inline-block;
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: 15px;
  }

  &__date {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    font-size: 14px;
    line-height: 17px;
    color: #6A6A6A;
    right: 30px;
    top: 30px;

    @media (max-width: 960px) {
      position: initial;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }

  &__stars {
    display: flex;
    padding: 0;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 20px;
  }

  &__star {
    list-style: none;
    width: 17px;   
    height: 17px;
    margin-right: 10px;

    svg {
      width: 17px;
      height: 17px;
      fill: #C4C4C4;
    }

    &--active {
      
      svg {
      fill: #FFB81C;
      }
    }
  }

  &__text {
  line-height: 130%;
  margin: 0;
  overflow: hidden;

    &--caped {
      height: 60px;
    }
  }

  &__feedback {
    margin-top: 20px;
    padding-top: 19px;
    border-top: 1px solid #C4C4C4;
    padding-left: 20px;
  }

  &__responder {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #E4002B;
    margin: 0;
    padding-bottom: 20px;
  }

  &__responce {
    line-height: 130%;
    margin: 0;
  }

  &__more {
    position: relative;
    display: block;
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #00239C;
    text-decoration: none;
    padding-top: 15px;
    max-width: 120px;
    padding-right: 20px;

    &:hover {
      text-decoration: underline;
    }

    &--hidden {
      display: none;
    }
  }

  &__pointer {
    position: absolute;
    display: block;
    width: 7px;
    height: 7px;
    border-left: 2px solid #00239C;
    border-bottom: 2px solid #00239C;
    transform: rotate(-45deg);
    right: 0;
    top: 15px;

    &--reversed {
      transform: rotate(135deg);
    }
  }
}