section.post
  div.post__meta
    p.post__author Екатерина Б.
      a.post__social(href="#", style="background-image: url('./img/insto.svg')")
    p.post__date 01.01.2019
    ul.post__stars
      li.post__star.post__star--active
        svg
          use(xlink:href="#icon-star")
      li.post__star.post__star--active
        svg
          use(xlink:href="#icon-star")
      li.post__star.post__star--active
        svg
          use(xlink:href="#icon-star")
      li.post__star.post__star--active
        svg
          use(xlink:href="#icon-star")
      li.post__star
        svg
          use(xlink:href="#icon-star")
  p.post__text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей.
  a.post__more.post__more--hidden(href='#') Читать весь отзыв
    span.post__pointer
  div.post__feedback
    p.post__responder Татьяна (модератор)
    p.post__responce Спасибо за ваш отзыв! Обязательно примим ко вниманию ваши пожелания!
