.rollout {
  display: block;
  background-color: #ffffff;
  border: 0;
  outline: none;
  cursor: pointer;
  padding-right: 20px;
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 70px;
  position: relative;

  @media (max-width: 768px) {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &__text {
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
    color: #00239C;
    margin: 0;

    &:hover {
      text-decoration: underline;
    }
  }

  &__pointer {
    position: absolute;
    display: block;
    width: 5px;
    height: 5px;
    border-left: 2px solid #00239c;
    border-bottom: 2px solid #00239c;
    transform: rotate(-45deg);
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  &--pressed {

    .rollout__pointer {
      transform: rotate(135deg);
    }
  }
}