section.indexSlider.overlay

  div.indexSlider__container.swiper-container

    div.indexSlider__wrapper.swiper-wrapper
      div.indexSlider__slide.swiper-slide(style="background-image: url(./img/pillar.png);")
        div.content
          +pillar({
            header: 'Страхование',
            description: 'Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки позиций'
          })
      div.indexSlider__slide.swiper-slide(style="background-image: url(./img/1.png);")
        div.content
          +pillar({
            header: 'Страхование2',
            description: 'Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки позиций'
          })
      div.indexSlider__slide.swiper-slide(style="background-image: url(./img/2.png);")
        div.content
          +pillar({
            header: 'Страхование3',
            description: 'Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки позиций'
          })
      div.indexSlider__slide.swiper-slide(style="background-image: url(./img/pillar.png);")
        div.content
          +pillar({
            header: 'Страхование4',
            description: 'Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки позиций'
          })

      div.indexSlider__slide.swiper-slide(style="background-image: url(./img/2.png);")
        div.content
          +pillar({
            header: 'Страхование5',
            description: 'Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки позиций'
          })
      
  div.indexSlider__restricter
    div.indexSlider__pagination.swiper-pagination

    div.indexSlider__button.indexSlider__button--prev.swiper-button-prev
    div.indexSlider__button.indexSlider__button--next.swiper-button-next