.indexSlider.overlay {
  padding: 0;
}

.indexSlider {
  position: relative;

  .swiper-pagination-bullet {
    margin-left: 5px;
    margin: 10px;
    width: 10px;
    height: 10px;
    background-color: #C4C4C4;
    opacity: 1;
    outline: none;

    &:hover {
      background-color: #6A6A6A;
    }
  }

  .swiper-pagination {
    width: 150px;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
    right: 70px;
  }

  .swiper-pagination-bullet {
    margin-left: 10px;
    margin: 10px;
    width: 10px;
    height: 10px;
    background-color: #C4C4C4;
    opacity: 1;
    outline: none;

    &:hover {
      background-color: #6A6A6A;
    }
  }

  .swiper-pagination-bullet-active {
    width: 15px;
    height: 15px;
    background-color: #E4002B;
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transform: rotate(45deg);
    outline: none;
    z-index: 9;
  }

  .swiper-button-next {
    right: 20px;
    top: 25px;
  }
  .swiper-button-prev {
    right: 230px;
    left: auto;
    top: 25px;
  }

  .swiper-button-next:before,
  .swiper-button-next:before {
    position: absolute;
    content: '';
    width: 6px;
    height: 6px;
    border-right: 4px solid #00239C;
    border-top: 4px solid #00239C;
  }

  .swiper-button-next:hover,
  .swiper-button-prev:hover {
    background-color: #F3F3F3;
  }

  .swiper-button-prev:before {
    position: absolute;
    content: '';
    width: 6px;
    height: 6px;
    border-left: 4px solid #00239C;
    border-bottom: 4px solid #00239C;
  }

  .swiper-button-prev:hover:before {
    border-color: #1F43C2;
  }

  .swiper-button-next:hover:before {
    border-color: #1F43C2;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    display: none;
  }

  &__restricter {
    max-width: 1140px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    box-sizing: content-box;
    position: relative;
    height: 40px;

    @media(max-width:768px) {
      max-width: 255px;
    }
  }

  &__container {
    position: relative;

    &:after {
      position: absolute;
      content: '';
      width: 100%;
      bottom: -3px;
      height: 90px;
      background: linear-gradient(178.5deg,transparent 49%,#fff 51%);
      z-index: 1;

      @media(max-width:630px) {
        display: none;
      }
    }
  }

  &__slide {
    min-height: 685px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    @media(max-width: 768px) {
      min-height: 600px;
    }

    @media(max-width: 630px) {
      min-height: 445px;
    }

    @media(max-width: 425px) {
      min-height: 395px;
    }
    .content{
      position: relative;
      z-index: 1;
    }
    &:after{
      position: absolute;
      z-index: 0;
      background: rgba(0,0,0,0.2);
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
}

