<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="./css/libs.css")
    link(rel="stylesheet", href="./css/style.css")
    title NEW PROJECT
  body

    block mixins
      include /app/blocks/logo/logo
      include /app/blocks/form/form
      include /app/blocks/form-input/form-input
      include /app/blocks/form-button/form-button
      include /app/blocks/form-terms/form-terms
      include /app/blocks/form-select/form-select
      include /app/blocks/form-select/form-vacancy
      include /app/blocks/form-select/form-city
      include /app/blocks/form-textarea/form-textarea
      include /app/blocks/form-stars/form-stars
      include /app/blocks/searchbar/searchbar
      include /app/blocks/general/general
      include /app/blocks/results/results
      include /app/blocks/accordion/accordion
      include /app/blocks/why/why
      include /app/blocks/milestone/milestone
      include /app/blocks/button/button
      include /app/blocks/page-form/page-form
      include /app/blocks/direction/direction
      include /app/blocks/values/values
      include /app/blocks/bgvalues/bgvalues
      include /app/blocks/service/service
      include /app/blocks/trio/trio
      include /app/blocks/step/step
      include /app/blocks/information/information
      include /app/blocks/pillar/pillar
      include /app/blocks/provision/provision
    block header
      include /app/blocks/header/header
    
    main
      block main
      
    #goup(style="opacity: 0;")
    block footer
      include /app/blocks/footer/footer
      div(style='display: none;')
        include ../../dist/img/icons/icons.svg
      script(src="./js/libs.js")
      script(src="./js/scripts.js")