.interact {
  display: flex;
  align-items: center;
  max-width: 585px;
  width: 100%;
  justify-content: space-between;

  @media (max-width: 960px) {
    justify-content: flex-end;
  }

  &__search-icon {
    width: 20px;
    height: 20px;
    stroke: #00239c;
    display: block;
    stroke-width: 2;
    margin: 0 auto;
    margin-top: 20%;
    
    &:hover {
      stroke: #1F43C2;
    }
  }

  &__phone {
    text-decoration: none;
    color: #222222;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;

    @media (max-width: 960px) {
      display: none;
    }
  }

  &__mail {
    text-decoration: none;
    color: #00239C;
    font-size: 16px;
    line-height: 20px;

    @media (max-width: 960px) {
      display: none;
    }

    &:hover {
      color: #1f43c2;
    }

    &--footer {

      @media (max-width: 960px) {
        display: block;
      }

      @media (max-width: 425px) {
        text-align: center;
      }
    }
  }

  &__search {
    display: block;
    width: 30px;
    height: 30px;

    &:hover {
      background-color: #F3F3F3;
      border-radius: 30px;
    }
  }

  &__login {
    display: block;
    text-decoration: none;
    font-size: 14px;
    line-height: 17px;
    color: #6A6A6A;
    padding: 15px;

    @media (max-width: 960px) {
   //   display: none;
    }

    &:hover {
      background-color: #F3F3F3;
    }
  }

  &__enter-icon {
    width: 20px;
    height: 20px;
    vertical-align: bottom;
    padding-left: 15px;
  }
}

.content--mobile-nav {

  .interact {
    flex-direction: column;
    margin: auto;
    box-sizing: border-box;
    display: none;

    @media(max-width: 960px) {
      display: flex;
      order: 3;
      margin-top: 0;
    }

    &__phone {
      display: block;
      padding-bottom: 10px;

    }

    &__mail {
      display: block;
      padding-bottom: 10px;
    }

    &__search {
      display: none;
    }

    &__login {
      display: none;
      max-width: 280px;
      width: 100%;
      background: linear-gradient(0deg,#002699 0%,#1f43c2 100%);
      border-radius: 5px;
      text-align: center;
      font-size: 18px;
      color: #ffffff;
    }

    &__enter-icon {
      display: none;
    }
  }
}