section.interact
  a.interact__phone(href="tel:+79999999999") +7 (999) 999-99-99
  a.interact__mail(href="mailto:email-test@email.ru") email-test@email.ru
  a.interact__search(href="#")
    svg.interact__search-icon
      use(xlink:href="#icon-search")
    span.visually-hidden Поиск по сайту
  a.interact__login(href="#") Войти
    svg.interact__enter-icon
      use(xlink:href="#icon-enter")