mixin page-form(data)

  if data.authorization
    section.page-form-wrapper
      form.page-form
        input.page-form__input(type="email", placeholder="Ваш e-mail*", required, minlength="2")
        input.page-form__input(type="password", placeholder="Пароль*", required, minlength="2")
        button.page-form__button(type="submit") Войти
        a.page-form__reg-link(href="/registration.html") Регистрация
      p.page-form__text  <a class="page-form__link" href="/forgot.html"> Забыли пароль?</a> Восстановите пароль с помощью электронной почты
  
  else if data.registration
    section.page-form-wrapper
      form.page-form
        input.page-form__input(type="text", placeholder="Ваше имя*", required, minlength="2")
        input.page-form__input(type="text", placeholder="Ваша фамилия*", required, minlength="2")
        input.page-form__input(type="email", placeholder="Ваш e-mail*", required, minlength="2")
        input.page-form__input(type="password", placeholder="Пароль*", required, minlength="6")
        input.page-form__input(type="password", placeholder="Повторите пароль*", required, minlength="6")
        p.page-form__text.page-form__text--margin Нажимая кнопку «Зарегистрироваться» вы даете согласие на <a class="page-form__link" href="#">обработку персональных данных</a> 
        button.page-form__button.page-form__button--wide(type="submit") Зарегистрироваться
      p.page-form__text.page-form__text--margin У вас уже есть аккаунт? <a class="page-form__link" href="/authorization.html">Войдите</a>
  
  else if data.forgot
    section.page-form-wrapper
      p.page-form__text.page-form__text--margin Мы вышлем Вам инструкцию по восстановлению пароля на ваш e-mail.
      form.page-form
        input.page-form__input(type="email", placeholder="Ваш e-mail*", required, minlength="2")
        button.page-form__button.page-form__button--wide(type="submit") Отправить запрос
      a.page-form__link.page-form__link--block(href="/authorization.html") Войти
      a.page-form__link.page-form__link--block(href="/registration.html") Регистрация
