.page-form-section {

  h1 {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;

    @media (max-width: 960px) {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}

.page-form-wrapper {
  max-width: 405px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 100px;

  @media (max-width: 960px) {
    margin-bottom: 20px;
  }
}

.page-form {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__input {
    display: block;
    background: #F3F3F3;
    border-radius: 3px;
    border: none;
    width: 100%;
    padding: 15px 15px 15px 20px;
    margin-bottom: 20px;
    line-height: 20px;
    border: 2px solid transparent;

    &--invalid {
      border: 2px solid #e4002b;
    }
  }

  &__button {
    max-width: 190px;
    width: 100%;
    box-sizing: border-box;
    border: 0;
    text-decoration: none;
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    text-align: center;
    padding: 15px;
    background-color: #E4002B;
    border-radius: 3px;
    cursor: pointer;
    display: block;

    @media (max-width: 425px) {
      max-width: 100%;
      margin-bottom: 20px;
    }

    &--wide {
      max-width: 100%;
      margin-bottom: 20px;
    }
    
  
    &:hover {
      background-color: #FF585D;
    }
  }

  &__reg-link {
    max-width: 190px;
    width: 100%;
    box-sizing: border-box;
    border: 0;
    text-decoration: none;
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
    color: #00239C;
    text-align: center;
    padding: 15px;
    background-color: #EAEAEA;
    border-radius: 3px;
    cursor: pointer;
    display: block;
    font-weight: bold;

    @media (max-width: 425px) {
      max-width: 100%
    }

    &:hover {
      background-color: #6a6a6a;
    }
  }

  &__text {
    margin-top: 30px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #6A6A6A;

    @media (max-width: 960px) {
      margin-top: 20px;
    }

    &--margin {
      margin-top: 0;
    }
  }

  &__link {
    font-family: inherit;
    font-size: 14px;
    line-height: 17px;
    color: #00239C;

    &:hover {
      text-decoration: none;
    }

    &--block {
      display: block;
      text-align: center;
      margin-bottom: 10px;
    }
  }
}

.page-form__input::-webkit-input-placeholder {
  font-family: inherit;
  font-size: 14px;
  line-height: 17px;
  color: #6A6A6A;
}

.page-form__input::-moz-placeholder {
  font-family: inherit;
  font-size: 14px;
  line-height: 17px;
  color: #6A6A6A;
}

.page-form__input:-moz-placeholder {
  font-family: inherit;
  font-size: 14px;
  line-height: 17px;
  color: #6A6A6A;
}

.page-form__input:-ms-input-placeholder {
  font-family: inherit;
  font-size: 14px;
  line-height: 17px;
  color: #6A6A6A;
  }

.page-form__input::-webkit-input-placeholder {
    font-family: inherit;
    font-size: 14px;
    line-height: 17px;
    color: #6A6A6A;
}

.page-form__input::-moz-placeholder {
  font-family: inherit;
  font-size: 14px;
  line-height: 17px;
  color: #6A6A6A;
}

.page-form__input:-moz-placeholder {
  font-family: inherit;
  font-size: 14px;
  line-height: 17px;
  color: #6A6A6A;
}

.page-form__input:-ms-input-placeholder {
  font-family: inherit;
  font-size: 14px;
  line-height: 17px;
  color: #6A6A6A;
}