.bgvalues {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-left: -10px;
  margin-right: -10px;
  justify-content: space-between;
  margin-top: 50px;

  @media(max-width: 960px) {
    margin-top: 20px;
  }

  &__value-wrapper {
    height: 100%;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
    background-size: cover;
    @media(max-width: 500px) {
      padding: 20px 20px 20px;
    }
    &:before{
      background: #00239C;
      position: absolute;
      content: '';
      z-index: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.8;
    }
  }

  &__value {
    box-sizing: border-box;
    list-style: none;
    background: #F3F3F3;
    border-radius: 3px;
    position: relative;
    width: 48%;
    margin: 10px;

    @media (max-width: 1019px) {
      width: 47%;
    }

    @media (max-width: 960px) {
      padding-left: 0!important;
    }
    @media (max-width: 768px) {
      width: 100%;
      padding-left: 0!important;
    }

    &::after {
      position: absolute;
      content: '';
      width: 30px;
      height: 30px;
      border-top: 10px solid #fff;
      border-right: 10px solid #fff;
      top: 20px;
      right: 20px;
    }
  }

  &__heading {
    position: relative;
    z-index: 1;
    margin: 0;
    font-size: 22px;
    line-height: 27px;
    font-weight: bold;
    color: #fff;
    padding-bottom: 20px;
  }

  &__text {
    margin: 0;
    color: #fff;
    position: relative;
    z-index: 1;
  }

}
