mixin bgvalues(data)

  ul.bgvalues
    li.bgvalues__value
      div.bgvalues__value-wrapper(style="background-image: url(./img/india-bg1.png)")
        p.bgvalues__heading=data.heading1
        p.bgvalues__text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько.

    li.bgvalues__value
      div.bgvalues__value-wrapper(style="background-image: url(./img/india-bg2.png)")
        p.bgvalues__heading=data.heading2
        p.bgvalues__text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько.

    li.bgvalues__value
      div.bgvalues__value-wrapper(style="background-image: url(./img/india-bg3.png)")
        p.bgvalues__heading=data.heading3
        p.bgvalues__text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько.

    li.bgvalues__value
      div.bgvalues__value-wrapper(style="background-image: url(./img/india-bg4.png)")
        p.bgvalues__heading=data.heading4
        p.bgvalues__text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько.
