.page-content {

  p {
    line-height: 150%;
    margin-top: 30px;
    margin-bottom: 30px;

    @media (max-width: 960px) {
      font-size: 13px;
      line-height: 150%;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  ul {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 0;

    @media (max-width: 960px) {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    li {
      position: relative;
      line-height: 150%;
      list-style: none;
      padding-left: 12px;

      @media (max-width: 960px) {
        font-size: 13px;
        line-height: 150%;
      }

      &:before {
        position: absolute;
        content: '';
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background-color: #002699;
        left: 5px;
        top: 0;
        bottom: 0;
        margin: auto;
      }
    }
  }

  h2 {
    font-weight: bold;
    font-size: 28px;
    line-height: 100%;
    margin-top: 90px;
    margin-bottom: 30px;

    @media (max-width: 960px) {
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 25px;
      line-height: 29px;
    }
  }

  & .img-content {
    margin-top: 30px;
    margin-bottom: 30px;

    img {
      width: 100%;
    }

    p {
      position: relative;
      font-size: 14px;
      line-height: 150%;
      color: #C4C4C4;
      margin-top: 20px;
      padding-bottom: 20px;
      margin-bottom: 20px;

      @media (max-width: 960px) {
        font-size: 12px;
      }

      &::after {
        position: absolute;
        content: '';
        width: 77px;
        height: 2px;
        background-color: #00239C;
        bottom: 0;
        left: 0;
      }
    }
  }

  h3 {
    font-weight: bold;
    font-size: 22px;
    line-height: 100%;
    margin-top: 30px;
    margin-bottom: 30px;

    @media (max-width: 960px) {
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 20px;
      line-height: 23px;
    }
  }

  ol {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 0;
    counter-reset: my-counter;
    list-style: none;
    list-style: none;

    @media (max-width: 960px) {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    li {
      position: relative;
      line-height: 150%;
      padding-left: 23px;
      counter-increment: my-awesome-counter;

      @media (max-width: 960px) {
        font-size: 13px;
        line-height: 150%;
        padding-left: 20px;
      }

      &:before {
        position: absolute;
        content: counter(my-awesome-counter) '.';
        font-weight: bold;
        font-size: 16px;
        line-height: 150%;
        color: #00239C;
        left: 0;

        @media (max-width: 960px) {
          font-size: 12px;

        }
      }
    }
  }

  & .read-more {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
    margin-bottom: 50px;
    z-index: 1;

    @media (max-width: 600px) {
      flex-direction: column;
      align-items: center;
      background-color: #F3F3F3;
      margin-top: 30px;
    margin-bottom: 30px;
    }

    &:before {
      position: absolute;
      content: '';
      width: 90%;
      height: 107%;
      right: 0;
      bottom: -29px;
      background-color: #F3F3F3;
      z-index: -1;
      border-radius: 3px;

      @media (max-width: 600px) {
        display: none;
      }
    }

    &__img-wrapper {
      border-radius: 3px;
      padding-left: 45px;
      width: 32%;

      @media (max-width: 600px) {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
      }

      img {
        width: 100%;
      }
    }

    &__meta {
      padding-left: 40px;
      width: 50%;

      @media (max-width: 600px) {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        box-sizing: border-box;
      }
    }

    &__header {
      width: 100%;
      font-weight: bold;
      font-size: 28px;
      line-height: 100%;
      padding-left: 105px;
      padding-bottom: 40px;
      margin: 0;
      position: relative;

      @media (max-width: 600px) {
        padding-left: 0;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 20px;
        line-height: 23px;
      }

      &:before {
        position: absolute;
        content: '';
        width: 77px;
        height: 5px;
        border-radius: 5px;
        background-color: #00239C;
        left: 0;
        top: 10px;

        @media (max-width: 600px) {
          display: none;
        }
      }
    }

    &__date {
      font-size: 14px;
      line-height: 17px;
      color: #6A6A6A;
      margin: 0;
      padding-top: 15px;
      padding-bottom: 10px;
    }

    &__article {
      font-weight: bold;
      font-size: 18px;
      line-height: 130%;
      margin: 0;
      padding-bottom: 28px;

      @media (max-width: 600px) {
        padding-bottom: 15px;
      }
    }

    &__link {
      position: relative;
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
      color: #00239C;
      text-decoration: none;
      padding-right: 20px;
  
      &:hover {
        color: #1F43C2;
  
        &:after {
          border-right: 2px solid #1F43C2;;
          border-top: 2px solid #1F43C2;;
        }
      }
    
      &:after {
        position: absolute;
        content: "";
        width: 5px;
        height: 5px;
        border-right: 2px solid #00239C;
        border-top: 2px solid #00239C;
        transform: rotate(45deg);
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
      }
    }
  }

  &__back {
    box-sizing: border-box;
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    text-decoration: none;
    background: #EAEAEA;
    border-radius: 3px;
    text-align: center;
    padding: 15px;
    max-width: 225px;
    width: 100%;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #00239C;

    @media (max-width: 600px) {
      margin: 0 auto;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}