.india {
  display: flex;
  justify-content: space-between;
  background: #F3F3F3;
  border-radius: 3px;
  align-items: center;
  padding: 30px 40px 30px 60px;
  margin-top: 80px;
  position: relative;

  @media(max-width: 960px) {
    margin-top: 20px;
  }

  @media(max-width: 768px) {
    flex-direction: column;
    padding: 20px;
    padding-top: 30px;
  }

  &:before {
    position: absolute;
    content: 'Наш проект';
    font-family: inherit;
    font-weight: bold;
    font-size: 17px;
    line-height: 17px;
    text-transform: uppercase;
    color: #FFFFFF;
    transform: rotate(-90deg);
    background-color: #00239C;
    padding: 7px 10px 5px 10px;
    left: -45px;

    @media(max-width: 768px) {
      transform: rotate(0deg);
      left: 0;
      right: 0;
      margin: auto;
      width: 80%;
      text-align: center;
      padding: 10px;
      top: -19px;
    }
  }

  .heading2 {

    @media(max-width: 768px) {
      font-size: 20px;
      line-height: 23px;
      text-align: center;
    }
  }

  &__logo {
    width: 76px;
    height: 65px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('../img/logo-full.svg');

    @media(max-width: 768px) {
      width: 105px;
      height: 90px;
    }
  }

  &__button {
    max-width: 193px;
    width: 100%;
    display: block;
    box-sizing: border-box;
    text-decoration: none;
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    text-align: center;
    padding: 15px;
    background-color: #E4002B;
    border-radius: 3px;
  
    &:hover {
      background-color: #FF585D;
    }
  }
}